<a href="https://colab.research.google.com/github/fbeilstein/machine_learning/blob/master/lecture_04_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
pandas.__version__

'1.0.5'

In [1]:
#@title Helper Functions

def pandas_to_html(obj, ordering=False):
  import pandas as pd
  if type(obj) == pd.core.series.Series:
    if obj.name != None:
      obj = pd.DataFrame(obj)#, columns=[' '])
    else:
      obj = pd.DataFrame(obj, columns=[' '])
  
  class_name = 'pandas_table'
  if obj.shape[0] > 10:
    class_name += '_long'
  else:
    class_name += '_short'

  if ordering:
    class_name += '_ordered'
  else:
    class_name += '_unordered'


  main_str = '''
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
  ''' + obj.to_html(classes=[class_name, 'cell-border']) + '''
  <script>
  $(document).ready( function () {
      $('.pandas_table_long_ordered').DataTable({"autoWidth": false});
      $('.pandas_table_long_ordered').removeClass("pandas_table_long_ordered");
      $('.pandas_table_short_ordered').DataTable({"autoWidth": false, "paging":false, "searching":false, "info":false});
      $('.pandas_table_short_ordered').removeClass("pandas_table_short_ordered");

      $('.pandas_table_long_unordered').DataTable({"autoWidth": false, "ordering":false, "paging":true});
      $('.pandas_table_long_unordered').removeClass("pandas_table_long_unordered");
      $('.pandas_table_short_unordered').DataTable({"autoWidth": false, "paging":false, "searching":false, "info":false, "ordering":false});
      $('.pandas_table_short_unordered').removeClass("pandas_table_short_unordered");
  } );
  </script>
  '''
  return main_str

def display_pandas(obj, ordering=False):
  import IPython
  from google.colab import output
  display(IPython.display.HTML(pandas_to_html(obj, ordering)))

str_style_bigtbl = '''
<style>
.bigtable {
  border-collapse: collapse;
}

.bigtd {
  border: 3px solid #d4d4d3ff;
  min-width:50%;
  min-width:50%;
  height: 30px;
  position: relative; 
  text-align:center; 
  color: #474747;
  font-size:15px;
  font-weight: bolder;
  padding: 19px;
}

</style>
'''

def envelope_tbl(lst):
  result = '<table class="bigtable">\n'
  for row in lst:
    result += '<tr>\n\t'
    for e in row:
      if isinstance(e, dict):
        result += '<td class="bigtd"'
        for key in e:
          if key != 'text':
            result += str(key) + '="' + str(e[key]) + '" '
        result += '><div width="40px">' + str(e['text']) + '</div></td>'
      else:
        result += '<td class="bigtd">' + str(e) + '</td>'
    result += '\n</tr>\n'
  result += '</table>'
  return result

def draw_tbl(lst):
  result = envelope_tbl(lst)
  import IPython
  from google.colab import output
  display(IPython.display.HTML(str_style_bigtbl + result))

#Introducing Pandas Objects

##The Pandas Series Object

Somewhat similar to `numpy.array`

In [ ]:
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0])
display_pandas(data)

In [ ]:
print('data.values : ', data.values)
print('data.index : ', data.index)
print('data[1] : ', data[1])
draw_tbl([['data', 'data[1:3]'],
          [pandas_to_html(data), pandas_to_html(data[1:3])]])

data.values :  [0.25 0.5  0.75 1.  ]
data.index :  RangeIndex(start=0, stop=4, step=1)
data[1] :  0.5

`numpy.array` has implicitly defined index, while `pandas.Series` -- explicitly

In [ ]:
import pandas as pd

data_char = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data_num = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])

draw_tbl([['char index', 'numeric index'],
          [pandas_to_html(data_char), pandas_to_html(data_num)],
          ["data_char['b'] : " + str(data_char['b']), "data_num[5] : " + str(data_num[5])]])

`Series` as Python dictionary

In [ ]:
import pandas as pd

population_dict = {'California': 38332521,
                   'Texas'     : 26448193,
                   'New York'  : 19651127,
                   'Florida'   : 19552860,
                   'Illinois'  : 12882135}
population = pd.Series(population_dict)
draw_tbl([['population', "population['Texas':'Florida']"],
          [pandas_to_html(population), pandas_to_html(population['Texas':'Florida'])]])
print("population['California']: ", population['California'])

population['California']:  38332521

In [ ]:
draw_tbl([["pd.Series([2, 4, 6])", "pd.Series(5, index=[100, 200, 300])",
           "pd.Series({2:'a', 1:'b', 3:'c'})", "pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])"],
          [pandas_to_html(pd.Series([2, 4, 6])), pandas_to_html(pd.Series(5, index=[100, 200, 300])),
           pandas_to_html(pd.Series({2:'a', 1:'b', 3:'c'})), pandas_to_html(pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2]))]])

##The Pandas DataFrame Object

In [ ]:
import pandas as pd

population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127,'Florida': 19552860, 'Illinois': 12882135}
population = pd.Series(population_dict)
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
states = pd.DataFrame({'population': population, 'area': area})
area_column = states['area']

draw_tbl([['states', "states['area']"],
          [pandas_to_html(states), pandas_to_html(area_column)]])

In [ ]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [ ]:
states.columns

Index(['population', 'area'], dtype='object')

In [ ]:
# From a single Series object.
popuation_series = pd.DataFrame(population, columns=['population'])
display_pandas(popuation_series)

In [ ]:
import pandas as pd
import numpy as np

# From a list of dicts.
data = [{'a': i, 'b': 2 * i} for i in range(3)]
df1 = pd.DataFrame(data)

# From a list of dicts with MISSING data
df2 = pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

# From a NumPy structured array.
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
df3 = pd.DataFrame(A)

draw_tbl([[pandas_to_html(df1), pandas_to_html(df2), pandas_to_html(df3)]])

In [ ]:
# From a dictionary of Series objects.
df3 = pd.DataFrame({'population': population, 'area': area})

# From a two-dimensional NumPy array.
import numpy as np
df4 = pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

draw_tbl([[pandas_to_html(df3), pandas_to_html(df4)]])

##The Pandas Index Object

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [ ]:
ind[1]

3

In [ ]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [ ]:
print("index is IMMUTABLE, ERROR should be generated")
ind[1] = 0

index is IMMUTABLE, ERROR should be generated

TypeError: ignored

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
print(indA & indB) # intersection
print(indA | indB) # union
print(indA ^ indB) # symmetric difference

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

#Data Indexing and Selection

##Data Selection in Series

In [ ]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
old_data = pandas_to_html(data)
data['e'] = 12.0

draw_tbl([['data', "data['e'] = 12.0"],
          [old_data, pandas_to_html(data)]])

In [ ]:
data['b']

0.5

In [ ]:
'a' in data

True

In [ ]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [ ]:
# slicing by explicit index
# final index is included in the slice
df1 = data['a':'c']

# slicing by implicit integer index
# final index is excluded from the slice
df2 = data[0:2]

draw_tbl([[pandas_to_html(df1), pandas_to_html(df2)]])

In [ ]:
# masking
df1 = data[(data > 0.3) & (data < 0.8)]

# fancy indexing
df2 = data[['a', 'e']]

draw_tbl([[pandas_to_html(df1), pandas_to_html(df2)]])

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
draw_tbl([['original', 'explicit', 'implicit'],
          [{'text': pandas_to_html(data), 'rowspan':4}, 'data.loc[1:3]', 'data[1:3] OR data.iloc[1:3]'],
          [ pandas_to_html(data.loc[1:3]), pandas_to_html(data.iloc[1:3])],
          ['data[1] OR data.loc[1]', 'data.iloc[1]'],
          [str(data.loc[1]), str(data.iloc[1])]])

##Data Selection in DataFrame

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})

draw_tbl([['data', "data['area'] OR data.area"],
          [pandas_to_html(data), pandas_to_html(data['area'])]])

In [ ]:
data.area is data['area']

True

In [ ]:
# conflicts with pop() method of DataFrame
data.pop is data['pop']

False

In [ ]:
# adding new column + elementwise operations
data['density'] = data['pop'] / data['area'] 

draw_tbl([['data', "data.T"],
          [pandas_to_html(data), pandas_to_html(data.T)]])

In [ ]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [ ]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [ ]:
draw_tbl([['original', 'explicit', 'implicit'],
          [{'text': pandas_to_html(data), 'rowspan':2}, "data.loc[:'Florida', :'pop']", 'data.iloc[:3, :2]'],
          [ pandas_to_html(data.loc[:'Florida', :'pop']), pandas_to_html(data.iloc[:3, :2])]])

In [ ]:
# fancy indexing + masking
df = data.loc[data.density > 100, ['pop', 'density']] 

display_pandas(df)

In [ ]:
old = pandas_to_html(data)

# modification
data.iloc[0, 2] = 146 
data.loc['Texas', 'area'] = 15000

draw_tbl([['old', 'new'],
          [ old, pandas_to_html(data)]])

In [ ]:
draw_tbl([[{'text': 'while indexing refers to columns, slicing and masking refer to rows', 'colspan':3}],
          ["data['Florida':'Illinois']", "data[1:3]", 'data[data.density > 100]'],
          [ pandas_to_html(data['Florida':'Illinois']), pandas_to_html(data[1:3]), pandas_to_html(data[data.density > 100])]])

#Operating on Data in Pandas

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

##Ufuncs: Index Preservation

In [ ]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.random.randint(0, 10, 4))
s2 = np.exp(s1)

draw_tbl([['s1', "np.exp(s1)"],
          [pandas_to_html(s1), pandas_to_html(s2)]])

In [ ]:
df1 = pd.DataFrame(np.random.randint(0, 10, (3, 4)), columns=['A', 'B', 'C', 'D'])
df2 = np.sin(df1 * np.pi / 4)

draw_tbl([['df1', "np.sin(df1 * np.pi / 4)"],
          [pandas_to_html(df1), pandas_to_html(df2)]])

##UFuncs: Index Alignment

In [ ]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662, 'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193, 'New York': 19651127}, name='population')

# missing data is correctly handled (idexes merged)
df1 = population / area 

draw_tbl([['area', "population", 'population / area '],
          [pandas_to_html(area), pandas_to_html(population), pandas_to_html(df1)]])

In [ ]:
# Index
# At least one has value
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [ ]:
# Index
# Both have values
area.index & population.index

Index(['Texas', 'California'], dtype='object')

In [ ]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])

# NaN for missing operands
s1 = A + B 

# treat missing vals as zeros
s2 = A.add(B, fill_value=0) 

draw_tbl([['A', "B", 'A + B', 'A.add(B, fill_value=0) '],
          [pandas_to_html(A), pandas_to_html(B), pandas_to_html(s1), pandas_to_html(s2)]])

In [ ]:
A = pd.DataFrame(np.random.randint(0, 20, (2, 2)), columns=list('AB'))
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)), columns=list('BAC'))

df1 = A + B

# fill missing data with mean value in A
fill = A.stack().mean() 
df2 = A.add(B, fill_value=fill)

draw_tbl([['A', "B", 'A + B', 'A.add(B, fill_value=fill)'],
          [pandas_to_html(A), pandas_to_html(B), pandas_to_html(df1), pandas_to_html(df2)]])

##Ufuncs: Operations Between DataFrame and Series

In [3]:
import numpy as np
import pandas as pd

A = np.random.randint(10, size=(5, 4))
df = pd.DataFrame(A, columns=list('QRST')) 

# broadcasting (row-wise)
df1 = df - df.iloc[0]

# broadcasting (column-wise)
df2 = df.subtract(df['R'], axis=0) 

draw_tbl([['df', "df - df.iloc[0]", "df.subtract(df['R'], axis=0)"],
          [pandas_to_html(df), pandas_to_html(df1), pandas_to_html(df2)]])

In [4]:
halfrow = df.iloc[3, ::2]

# auto-alignment
df2 = df - halfrow

draw_tbl([['df', "df.iloc[3, ::2]", "df - df.iloc[3, ::2]"],
          [pandas_to_html(df), pandas_to_html(halfrow), pandas_to_html(df2)]])

#Handling Missing Data

**Approaches:**
* masking
* sentinel value

Pandas chose to use sentinels for missing data, and further chose to use two already-existing Python null values: the special floatingpoint `NaN` value, and the Python `None` object.

**Upcasting conventions**

|Typeclass     | Conversion When Storing NAs | NA Sentinel Value      |
|--------------|-----------------------------|------------------------|
| ``floating`` | No change                   | ``np.nan``             |
| ``object``   | No change                   | ``None`` or ``np.nan`` |
| ``integer``  | Cast to ``float64``         | ``np.nan``             |
| ``boolean``  | Cast to ``object``          | ``None`` or ``np.nan`` |

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

**Note:** ``None`` and ``NaN`` as essentially interchangeable for indicating missing or null values

##Operating on Null Values

In [ ]:
import pandas as pd

s = pd.Series([1, np.nan, 'hello', None])
s1 = s.isnull()
s2 = s[s.notnull()]
s3 = s.dropna()

draw_tbl([['s', "s.isnull()", "s[s.notnull()]", "s.dropna()"],
          [pandas_to_html(s), pandas_to_html(s1), pandas_to_html(s2), pandas_to_html(s3)]])

In [ ]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])

df1 = df.dropna()
df2 = df.dropna(axis='columns')

draw_tbl([['df', "df.dropna()", "df.dropna(axis='columns')"],
          [pandas_to_html(df), pandas_to_html(df1), pandas_to_html(df2)]])

In [ ]:
df[3] = np.nan

# drop columns that are all nans
df1 = df.dropna(axis='columns', how='all') 

# keep rows that contain at least 3 elements
df2 = df.dropna(axis='rows', thresh=3) 

draw_tbl([['df', "df.dropna(axis='columns', how='all')", "df.dropna(axis='rows', thresh=3)"],
          [pandas_to_html(df), pandas_to_html(df1), pandas_to_html(df2)]])

In [ ]:
s = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))

# fill nans with zeros
s1 = s.fillna(0) 

# forward-fill
s2 = s.fillna(method='ffill')

# back-fill
s3 = s.fillna(method='bfill')

draw_tbl([['s', "s.fillna(0)", "s.fillna(method='ffill')", "s.fillna(method='bfill')"],
          [pandas_to_html(s), pandas_to_html(s1), pandas_to_html(s2), pandas_to_html(s3)]])

In [ ]:
df1 = df.fillna(method='ffill', axis=1)
df2 = df.fillna(method='ffill', axis=0)

draw_tbl([['df', "df.fillna(method='ffill', axis=1)", "df.fillna(method='ffill', axis=0)"],
          [pandas_to_html(df), pandas_to_html(df1), pandas_to_html(df2)]])

#Hierarchical Indexing

##A Multiply Indexed Series

Suppose we want to index data by two keys. We want to have the ability to filter by any of these keys.

In [ ]:
import numpy as np
import pandas as pd

#bad way
index = [('California', 2000), ('California', 2010),
         ('New York',   2000), ('New York',   2010),
         ('Texas',      2000), ('Texas',      2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
               
pop = pd.Series(populations, index=index)

# filtering becomes inconvenient
pop_filtered = pop[[i for i in pop.index if i[1] == 2010]] 

draw_tbl([['pop', 'pop_filtered'],
          [pandas_to_html(pop), pandas_to_html(pop_filtered)]])

In [ ]:
# The better way: Pandas MultiIndex
index = pd.MultiIndex.from_tuples(index)

# apply multiindex
pop = pop.reindex(index)

# easy filtering
pop_filtered = pop[:, 2010]

draw_tbl([['pop', 'pop_filtered'],
          [pandas_to_html(pop), pandas_to_html(pop_filtered)]])

In [ ]:
pop_df = pop.unstack()  # as 2D
pop_st = pop_df.stack() # as multiindex

draw_tbl([['pop_df = pop.unstack() # as 2D', 'pop_df.stack() # as multiindex'],
          [pandas_to_html(pop_df), pandas_to_html(pop_st)]])

In [ ]:
# add column
pop_df = pd.DataFrame({'total': pop,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})

# apply universal function
f_u18 = pop_df['under18'] / pop_df['total']

# present as 2D
ustack = f_u18.unstack()

draw_tbl([['pop_df', "pop_df['under18'] / pop_df['total']", 'unstacked'],
          [pandas_to_html(pop_df), pandas_to_html(f_u18), pandas_to_html(ustack)]])

##Methods of MultiIndex Creation

Method | Code
---|---
Simply pass a list of two or more index arrays to the constructor | `pd.DataFrame(np.random.rand(4, 2), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=['data1', 'data2'])`
From arrays/lists | `pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])`
From tuples | `pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])`
Generating all combinations | `pd.MultiIndex.from_product([['a', 'b'], [1, 2]])`
With one-hot encoding | `pd.MultiIndex(levels=[['a', 'b'], [1, 2]], codes=[[0, 0, 1, 1], [0, 1, 0, 1]])`

In [ ]:
import pandas as pd
import numpy as np

index = [('California', 2000), ('California', 2010),
         ('New York', 2000),   ('New York', 2010),
         ('Texas', 2000),      ('Texas', 2010)]
index = pd.MultiIndex.from_tuples(index)

populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)

pop.index.names = ['state', 'year']

display_pandas(pop)

In [ ]:
# Multiindexes for rows and columns

# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)

draw_tbl([['health_data', "health_data['Guido']"],
          [pandas_to_html(health_data), pandas_to_html(health_data['Guido'])]])

##Indexing and Slicing a MultiIndex

In [ ]:
import pandas as pd
import numpy as np

index = [('California', 2000), ('California', 2010),
         ('New York', 2000),   ('New York', 2010),
         ('Texas', 2000),      ('Texas', 2010)]
index = pd.MultiIndex.from_tuples(index)

populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop.name = 'population'

pop.index.names = ['state', 'year']

draw_tbl([['pop', "pop['California']", "pop.loc['California':'New York']", "pop[:, 2000]"],
          [{'text': pandas_to_html(pop), 'rowspan':3}, 
           pandas_to_html(pop['California']), 
           pandas_to_html(pop.loc['California':'New York']),
           pandas_to_html(pop[:, 2000])],
          ["pop['California', 2000]", "pop[pop > 22000000]", "pop[['California', 'Texas']]"],
          [pop['California', 2000],
           pandas_to_html(pop[pop > 22000000]), 
           pandas_to_html(pop[['California', 'Texas']])]])

In [ ]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014, 2015], [1, 2]],
names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
names=['subject', 'type'])
# mock some data
data = np.round(np.random.randn(6, 6), 1)
data[:, ::2] *= 10
data += 37
# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)

draw_tbl([['health_data', "health_data['Guido', 'HR']", "health_data.loc[:, ('Bob', 'HR')"],
          [pandas_to_html(health_data), 
           pandas_to_html(health_data['Guido', 'HR']), 
           pandas_to_html(health_data.loc[:, ('Bob', 'HR')])]])

In [ ]:
# ERROR SHOULD BE GENERATED, no slices in tuples
health_data.loc[(:, 1), (:, 'HR')]

SyntaxError: ignored

In [ ]:
# workaround
idx = pd.IndexSlice
sliced = health_data.loc[idx[:, 1], idx[:, 'HR']]

display_pandas(sliced)

##Rearranging Multi-Indices

Many of the MultiIndex slicing operations will fail if the index is not sorted!

In [ ]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
display_pandas(data)

In [ ]:
print("ERROR SHOULD BE GENERATED")
try:
  data['a':'b'] # Trying to slice data
except KeyError as e:
  print(type(e))
  print(e)

ERROR SHOULD BE GENERATED
<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [ ]:
data = data.sort_index() # now can be sliced data['a':'b'] 

draw_tbl([['data.sort_index()', "data['a':'b']"],
          [pandas_to_html(data), 
           pandas_to_html(data['a':'b'])]])

In [ ]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000),   ('New York', 2010),
         ('Texas', 2000),      ('Texas', 2010)]
index = pd.MultiIndex.from_tuples(index)

populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)

pop.index.names = ['state', 'year']

pop_flat = pop.reset_index(name='population')
restored = pop_flat.set_index(['state', 'year']) 


draw_tbl([['pop', "pop.unstack(level=0)", "pop.unstack(level=1)"],
          [pandas_to_html(pop), 
           pandas_to_html(pop.unstack(level=0)),
           pandas_to_html(pop.unstack(level=1))],
          ["pop.unstack().stack()", "flat = pop.reset_index(name='population')", "flat.set_index(['state', 'year'])"],
          [pandas_to_html(pop.unstack().stack()),
           pandas_to_html(pop.reset_index(name='population')),
           pandas_to_html(restored)]])

##Data Aggregations on Multi-Indices

In [ ]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
names=['subject', 'type'])
# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37
# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
data_mean = health_data.mean(level='year')

draw_tbl([['health_data', "data_mean = health_data.mean(level='year') # mean over visits", "data_mean.mean(axis=1, level='type') # mean over columns"],
          [pandas_to_html(health_data), 
           pandas_to_html(health_data.mean(level='year')),
           pandas_to_html(data_mean.mean(axis=1, level='type'))]])

#Combining Datasets

##Simple Concatenation with pd.concat

In [ ]:
import pandas as pd
import numpy as np

ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
con = pd.concat([ser1, ser2])


draw_tbl([['ser1', "ser2", "pd.concat([ser1, ser2])"],
          [pandas_to_html(ser1), pandas_to_html(ser2), pandas_to_html(con)]])

In [ ]:
import pandas as pd
import numpy as np

def make_df(cols, ind):
  """Quickly make a DataFrame"""
  data = {c: [str(c) + str(i) for i in ind] for c in cols}
  return pd.DataFrame(data, ind)

df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
con = pd.concat([df1, df2])
app = df1.append(df2)

draw_tbl([['df1', "df2", "pd.concat([df1, df2])", "df1.append(df2) # shorthand for pd.concat([df1, df2]), does not modify the original object!"],
          [pandas_to_html(df1), pandas_to_html(df2), pandas_to_html(con), pandas_to_html(app)]])

In [ ]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
con = pd.concat([df3, df4], axis=1)

draw_tbl([['df3', "df4", "pd.concat([df3, df4], axis=1)"],
          [pandas_to_html(df3), pandas_to_html(df4), pandas_to_html(con)]])

In [ ]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
y.index = x.index # make duplicate indices!
con = pd.concat([x, y])

# this is valid within DataFrames, but the outcome is often undesirable

draw_tbl([[{'text': 'indices are duplicated!', 'colspan':2}, 'this is valid within DataFrames, but the outcome is often undesirable'],
          ['x', "y", "pd.concat([x, y])"],
          [pandas_to_html(x), pandas_to_html(y), pandas_to_html(con)]])

In [ ]:
# Catching the repeats as an error
try:
  pd.concat([x, y], verify_integrity=True)
except ValueError as e:
  print("ValueError:", e)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [ ]:
# Ignoring the index
con_no_index =  pd.concat([x, y], ignore_index=True)
con_multi_index = pd.concat([x, y], keys=['x', 'y'])

draw_tbl([[{'text': 'indices are duplicated!', 'colspan':2}, 'drop old index', 'use MultiIndex'],
          ['x', "y", " pd.concat([x, y], ignore_index=True)", "pd.concat([x, y], keys=['x', 'y'])"],
          [pandas_to_html(x), pandas_to_html(y), pandas_to_html(con_no_index), pandas_to_html(con_multi_index)]])

In [ ]:
# note the different set of column names
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
con = pd.concat([df5, df6], sort=True)
con_inner = pd.concat([df5, df6], sort=True, join='inner')

draw_tbl([['x', "y", "pd.concat([x, y], ignore_index=True) # simple concat", "pd.concat([df5, df6], sort=True, join='inner') # retain intersecting columns only"],
          [pandas_to_html(df5), pandas_to_html(df6), pandas_to_html(con), pandas_to_html(con_inner)]])

##Categories of Joins

In [ ]:
import pandas as pd
import numpy as np

# One-to-one joins
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
merge = pd.merge(df1, df2)

# merge in general discards the index, except in the special case of merges by index
draw_tbl([[{'text':"One-to-one join (merge in general discards the index, except in the special case of merges by index)", 'colspan':3}],
          ['df1', "df2", "pd.merge(df1, df2)"],
          [pandas_to_html(df1), pandas_to_html(df2), pandas_to_html(merge)]])

In [ ]:
# Many-to-one joins (one of the two key columns contains duplicate entries)
df3 = pd.merge(df1, df2)
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
merge = pd.merge(df3, df4)

draw_tbl([[{'text':"Many-to-one joins (one of the two key columns contains duplicate entries)", 'colspan':3}],
          ['df3', "df4", "pd.merge(df3, df4)"],
          [pandas_to_html(df3), pandas_to_html(df4), pandas_to_html(merge)]])

In [ ]:
# Many-to-many joins
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                    'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
merge = pd.merge(df1, df5)

draw_tbl([[{'text':"Many-to-many joins", 'colspan':3}],
          ['df1', "df5", "pd.merge(df1, df5)"],
          [pandas_to_html(df1), pandas_to_html(df5), pandas_to_html(merge)]])

##Specification of the Merge Key

In [ ]:
# explicitly specify the name of the key column
merge = pd.merge(df1, df2, on='employee')

draw_tbl([[{'text':"explicitly specify the name of the key column", 'colspan':3}],
          ['df1', "df2", "pd.merge(df1, df2, on='employee')"],
          [pandas_to_html(df1), pandas_to_html(df2), pandas_to_html(merge)]])

In [ ]:
# merge when 2 columns having different names but same meaning
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
merge = pd.merge(df1, df3, left_on="employee", right_on="name")

draw_tbl([[{'text':"merge when 2 columns having different names but same meaning", 'colspan':3}],
          ['df1', "df3", "pd.merge(df1, df3, left_on='employee', right_on='name')"],
          [pandas_to_html(df1), pandas_to_html(df3), pandas_to_html(merge)]])

In [ ]:
# drop redundant column
merge = pd.merge(df1, df3, left_on='employee', right_on='name').drop('name', axis=1)

draw_tbl([[{'text':"merge when 2 columns having different names but same meaning AND drop redundant column", 'colspan':3}],
          ['df1', "df3", "pd.merge(df1, df3, left_on='employee', right_on='name').drop('name', axis=1)"],
          [pandas_to_html(df1), pandas_to_html(df3), pandas_to_html(merge)]])

In [ ]:
# merge on an index
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
merge = pd.merge(df1a, df2a, left_index=True, right_index=True)
merge_short = df1a.join(df2a)


draw_tbl([[{'text':"merge on an index", 'colspan':4}],
          ["df1a = df1.set_index('employee')", "df2.set_index('employee')", "pd.merge(df1a, df2a, left_index=True, right_index=True)", "df1a.join(df2a)"],
          [pandas_to_html(df1a), pandas_to_html(df2a), pandas_to_html(merge), pandas_to_html(merge_short)]])

In [ ]:
# mix indices and columns
merge = pd.merge(df1a, df3, left_index=True, right_on='name')

draw_tbl([[{'text':"mix indices and columns", 'colspan':3}],
          ['df1a', "df3", "pd.merge(df1a, df3, left_index=True, right_on='name')"],
          [pandas_to_html(df1a), pandas_to_html(df3), pandas_to_html(merge)]])

##Specifying Set Arithmetic for Joins

In [ ]:
#@title Joining tables
%%html 

<svg width="264.77mm" height="63.267mm" version="1.1" viewBox="0 0 264.77 63.267" xmlns="http://www.w3.org/2000/svg" xmlns:ns0="http://www.iki.fi/pav/software/textext/">
 <g transform="translate(-51.954 -23.287)">
  <g fill="none" stroke="#dcdcdc" stroke-width="1.065">
   <g stroke-linecap="square" stroke-linejoin="round">
    <rect x="52.486" y="28.828" width="57.364" height="9.6217"/>
    <rect x="52.486" y="38.45" width="57.364" height="9.6217"/>
    <rect x="52.486" y="48.072" width="57.364" height="9.6217"/>
    <rect x="52.486" y="57.694" width="57.364" height="9.6217"/>
   </g>
   <path d="m98.274 28.647v38.27"/>
  </g>
  <g font-family="'Courier New'" font-weight="bold" letter-spacing="0px" stroke-width=".26458" word-spacing="0px">
   <text x="102.13203" y="35.93951" fill="#969696" font-size="7.1506px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="102.13203" y="35.93951" fill="#969696" font-family="'Courier New'" font-size="7.1506px" font-weight="bold" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">A</tspan></text>
   <text x="102.32169" y="45.64587" fill="#969696" font-size="7.1506px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="102.32169" y="45.64587" fill="#969696" font-family="'Courier New'" font-size="7.1506px" font-weight="bold" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">B</tspan></text>
   <text x="102.06989" y="55.334389" fill="#da9696" font-size="7.1506px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="102.06989" y="55.334389" fill="#da9696" font-family="'Courier New'" font-size="7.1506px" font-weight="bold" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">C</tspan></text>
   <text x="102.33717" y="64.822456" fill="#da9696" font-size="7.1506px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="102.33717" y="64.822456" fill="#da9696" font-family="'Courier New'" font-size="7.1506px" font-weight="bold" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">D</tspan></text>
  </g>
  <g>
   <path d="m84.005 29.167v38.27" fill="none" stroke="#dcdcdc" stroke-width="1.065"/>
   <path d="m68.886 28.978v38.27" fill="none" stroke="#dcdcdc" stroke-width="1.065"/>
   <g id="content" transform="matrix(.44052 0 0 -.44052 33.322 337.82)" fill-opacity=".79227" fill-rule="evenodd" stroke="#000" stroke-miterlimit="10.433" stroke-width="0" ns0:preamble="default_packages.tex" ns0:text="index\n" xml:space="preserve"><path d="m150.48 711.52-1.4-0.11v-0.31c0.65 0 0.74-0.06 0.74-0.55v-2.67c0-0.45-0.11-0.45-0.78-0.45v-0.3c0.32 0.01 0.86 0.03 1.1 0.03 0.35 0 0.7-0.02 1.04-0.03v0.3c-0.66 0-0.7 0.05-0.7 0.44z"/><path d="m150.52 713.24v0.03l-0.01 0.03v0.06l-0.01 0.02-0.02 0.06-0.02 0.04-0.01 0.03-0.01 0.02-0.02 0.02-0.01 0.02-0.02 0.02-0.01 0.02-0.02 0.02-0.02 0.01-0.02 0.02-0.02 0.01-0.02 0.02-0.02 0.01-0.03 0.01-0.06 0.03-0.03 0.01-0.02 0.01h-0.03l-0.02 0.01h-0.08c-0.31 0-0.53-0.27-0.53-0.53s0.22-0.52 0.53-0.52c0.28 0 0.53 0.21 0.53 0.52z"/><path d="m152.58 710.54v-2.66c0-0.45-0.11-0.45-0.78-0.45v-0.3c0.35 0.01 0.86 0.03 1.13 0.03 0.25 0 0.77-0.02 1.11-0.03v0.3c-0.67 0-0.78 0-0.78 0.45v1.83c0 1.03 0.71 1.59 1.35 1.59 0.63 0 0.74-0.54 0.74-1.1v-2.32c0-0.45-0.11-0.45-0.78-0.45v-0.3c0.35 0.01 0.86 0.03 1.13 0.03 0.26 0 0.78-0.02 1.12-0.03v0.3c-0.52 0-0.77 0-0.78 0.3v1.9c0 0.85 0 1.16-0.31 1.52-0.14 0.17-0.47 0.37-1.05 0.37-0.73 0-1.2-0.43-1.47-1.05v1.05l-1.41-0.11v-0.31c0.7 0 0.78-0.07 0.78-0.56z"/><path d="m160.8 707.67v-0.65l1.47 0.11v0.3c-0.7 0-0.78 0.07-0.78 0.56v6.03l-1.43-0.11v-0.31c0.69 0 0.77-0.07 0.77-0.55v-2.15c-0.29 0.36-0.71 0.62-1.25 0.62l0.04-0.22c0.35 0 0.76-0.15 1.08-0.6 0.1-0.17 0.1-0.19 0.1-0.37v-2.03c0-0.18 0-0.2-0.1-0.37-0.3-0.48-0.75-0.7-1.18-0.7-0.45 0-0.81 0.26-1.05 0.64-0.26 0.41-0.29 0.97-0.29 1.38 0 0.37 0.02 0.96 0.31 1.41 0.21 0.31 0.59 0.64 1.13 0.64l-0.04 0.22c-1.18 0-2.23-0.98-2.23-2.26 0-1.26 0.98-2.24 2.12-2.24 0.64 0 1.08 0.33 1.33 0.65z"/><path d="m163.66 709.42 0.01 0.21c0.06 1.48 0.89 1.73 1.23 1.73 1.03 0 1.13-1.34 1.13-1.73h-2.36l-0.01-0.21h2.78c0.22 0 0.25 0 0.25 0.21 0 0.98-0.54 1.95-1.79 1.95-1.15 0-2.07-1.03-2.07-2.27 0-1.33 1.05-2.29 2.19-2.29 1.22 0 1.67 1.1 1.67 1.29 0 0.1-0.08 0.12-0.13 0.12-0.09 0-0.11-0.06-0.13-0.14-0.35-1.03-1.25-1.03-1.35-1.03-0.5 0-0.89 0.3-1.12 0.67-0.3 0.48-0.3 1.13-0.3 1.49z"/><path d="m169.84 709.46 0.06 0.07 0.05 0.08 0.06 0.07 0.07 0.08 0.12 0.15 0.12 0.16 0.18 0.21 0.05 0.07 0.06 0.06 0.03 0.04 0.02 0.03 0.03 0.02 0.04 0.06 0.03 0.02c0.31 0.36 0.72 0.51 1.18 0.52v0.31c-0.26-0.02-0.56-0.03-0.81-0.03-0.3 0-0.83 0.02-0.96 0.03v-0.31c0.21-0.02 0.29-0.15 0.29-0.31s-0.1-0.29-0.15-0.35l-0.62-0.77-0.78 1c-0.09 0.1-0.09 0.12-0.09 0.18 0 0.15 0.15 0.24 0.35 0.25v0.31c-0.26-0.01-0.92-0.03-1.08-0.03-0.21 0-0.67 0.01-0.94 0.03v-0.31c0.7 0 0.7-0.01 1.17-0.61l0.99-1.28-0.94-1.18c-0.47-0.58-1.06-0.6-1.27-0.6v-0.3c0.26 0.02 0.57 0.03 0.83 0.03 0.28 0 0.7-0.02 0.94-0.03v0.3c-0.22 0.03-0.29 0.16-0.29 0.31 0 0.22 0.29 0.55 0.9 1.26l0.76-0.99c0.08-0.11 0.21-0.27 0.21-0.33 0-0.09-0.09-0.24-0.36-0.25v-0.3c0.3 0.01 0.86 0.03 1.08 0.03 0.26 0 0.65-0.01 0.95-0.03v0.3c-0.53 0-0.72 0.02-0.94 0.31z"/></g>
  </g>
  <g fill="none" stroke="#dcdcdc" stroke-width="1.065">
   <g stroke-linecap="square" stroke-linejoin="round">
    <rect transform="scale(-1,1)" x="-179.38" y="28.78" width="57.364" height="9.6217"/>
    <rect x="122.01" y="38.402" width="57.364" height="9.6217"/>
    <rect transform="scale(-1,1)" x="-179.38" y="48.024" width="57.364" height="9.6217"/>
    <rect transform="scale(-1,1)" x="-179.38" y="57.645" width="57.364" height="9.6217"/>
   </g>
   <path d="m133.59 28.599v38.27"/>
  </g>
  <g font-family="'Courier New'" font-weight="bold" letter-spacing="0px" stroke-width=".26458" word-spacing="0px">
   <text x="126.08839" y="36.025002" fill="#da9696" font-size="7.1506px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="126.08839" y="36.025002" fill="#da9696" font-family="'Courier New'" font-size="7.1506px" font-weight="bold" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">C</tspan></text>
   <g font-size="7.1506px">
    <text x="126.27807" y="45.731361" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="126.27807" y="45.731361" fill="#da9696" font-family="'Courier New'" font-size="7.1506px" font-weight="bold" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">D</tspan></text>
    <text x="126.02627" y="55.419876" fill="#969696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="126.02627" y="55.419876" fill="#969696" font-family="'Courier New'" font-size="7.1506px" font-weight="bold" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">E</tspan></text>
    <text x="126.29356" y="64.907936" fill="#969696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="126.29356" y="64.907936" fill="#969696" font-family="'Courier New'" font-size="7.1506px" font-weight="bold" stroke-width=".26458" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">F</tspan></text>
   </g>
  </g>
  <g>
   <path d="m154.54 28.985v38.27" fill="none" stroke="#dcdcdc" stroke-width="1.065"/>
   <g transform="matrix(.44052 0 0 -.44052 57.054 337.89)" fill-opacity=".79227" fill-rule="evenodd" stroke="#000" stroke-miterlimit="10.433" stroke-width="0" ns0:preamble="default_packages.tex" ns0:text="index\n" xml:space="preserve"><path d="m150.48 711.52-1.4-0.11v-0.31c0.65 0 0.74-0.06 0.74-0.55v-2.67c0-0.45-0.11-0.45-0.78-0.45v-0.3c0.32 0.01 0.86 0.03 1.1 0.03 0.35 0 0.7-0.02 1.04-0.03v0.3c-0.66 0-0.7 0.05-0.7 0.44z"/><path d="m150.52 713.24v0.03l-0.01 0.03v0.06l-0.01 0.02-0.02 0.06-0.02 0.04-0.01 0.03-0.01 0.02-0.02 0.02-0.01 0.02-0.02 0.02-0.01 0.02-0.02 0.02-0.02 0.01-0.02 0.02-0.02 0.01-0.02 0.02-0.02 0.01-0.03 0.01-0.06 0.03-0.03 0.01-0.02 0.01h-0.03l-0.02 0.01h-0.08c-0.31 0-0.53-0.27-0.53-0.53s0.22-0.52 0.53-0.52c0.28 0 0.53 0.21 0.53 0.52z"/><path d="m152.58 710.54v-2.66c0-0.45-0.11-0.45-0.78-0.45v-0.3c0.35 0.01 0.86 0.03 1.13 0.03 0.25 0 0.77-0.02 1.11-0.03v0.3c-0.67 0-0.78 0-0.78 0.45v1.83c0 1.03 0.71 1.59 1.35 1.59 0.63 0 0.74-0.54 0.74-1.1v-2.32c0-0.45-0.11-0.45-0.78-0.45v-0.3c0.35 0.01 0.86 0.03 1.13 0.03 0.26 0 0.78-0.02 1.12-0.03v0.3c-0.52 0-0.77 0-0.78 0.3v1.9c0 0.85 0 1.16-0.31 1.52-0.14 0.17-0.47 0.37-1.05 0.37-0.73 0-1.2-0.43-1.47-1.05v1.05l-1.41-0.11v-0.31c0.7 0 0.78-0.07 0.78-0.56z"/><path d="m160.8 707.67v-0.65l1.47 0.11v0.3c-0.7 0-0.78 0.07-0.78 0.56v6.03l-1.43-0.11v-0.31c0.69 0 0.77-0.07 0.77-0.55v-2.15c-0.29 0.36-0.71 0.62-1.25 0.62l0.04-0.22c0.35 0 0.76-0.15 1.08-0.6 0.1-0.17 0.1-0.19 0.1-0.37v-2.03c0-0.18 0-0.2-0.1-0.37-0.3-0.48-0.75-0.7-1.18-0.7-0.45 0-0.81 0.26-1.05 0.64-0.26 0.41-0.29 0.97-0.29 1.38 0 0.37 0.02 0.96 0.31 1.41 0.21 0.31 0.59 0.64 1.13 0.64l-0.04 0.22c-1.18 0-2.23-0.98-2.23-2.26 0-1.26 0.98-2.24 2.12-2.24 0.64 0 1.08 0.33 1.33 0.65z"/><path d="m163.66 709.42 0.01 0.21c0.06 1.48 0.89 1.73 1.23 1.73 1.03 0 1.13-1.34 1.13-1.73h-2.36l-0.01-0.21h2.78c0.22 0 0.25 0 0.25 0.21 0 0.98-0.54 1.95-1.79 1.95-1.15 0-2.07-1.03-2.07-2.27 0-1.33 1.05-2.29 2.19-2.29 1.22 0 1.67 1.1 1.67 1.29 0 0.1-0.08 0.12-0.13 0.12-0.09 0-0.11-0.06-0.13-0.14-0.35-1.03-1.25-1.03-1.35-1.03-0.5 0-0.89 0.3-1.12 0.67-0.3 0.48-0.3 1.13-0.3 1.49z"/><path d="m169.84 709.46 0.06 0.07 0.05 0.08 0.06 0.07 0.07 0.08 0.12 0.15 0.12 0.16 0.18 0.21 0.05 0.07 0.06 0.06 0.03 0.04 0.02 0.03 0.03 0.02 0.04 0.06 0.03 0.02c0.31 0.36 0.72 0.51 1.18 0.52v0.31c-0.26-0.02-0.56-0.03-0.81-0.03-0.3 0-0.83 0.02-0.96 0.03v-0.31c0.21-0.02 0.29-0.15 0.29-0.31s-0.1-0.29-0.15-0.35l-0.62-0.77-0.78 1c-0.09 0.1-0.09 0.12-0.09 0.18 0 0.15 0.15 0.24 0.35 0.25v0.31c-0.26-0.01-0.92-0.03-1.08-0.03-0.21 0-0.67 0.01-0.94 0.03v-0.31c0.7 0 0.7-0.01 1.17-0.61l0.99-1.28-0.94-1.18c-0.47-0.58-1.06-0.6-1.27-0.6v-0.3c0.26 0.02 0.57 0.03 0.83 0.03 0.28 0 0.7-0.02 0.94-0.03v0.3c-0.22 0.03-0.29 0.16-0.29 0.31 0 0.22 0.29 0.55 0.9 1.26l0.76-0.99c0.08-0.11 0.21-0.27 0.21-0.33 0-0.09-0.09-0.24-0.36-0.25v-0.3c0.3 0.01 0.86 0.03 1.08 0.03 0.26 0 0.65-0.01 0.95-0.03v0.3c-0.53 0-0.72 0.02-0.94 0.31z"/></g>
   <g transform="matrix(.45332 0 0 -.45332 -10.894 340.12)" fill-rule="evenodd" stroke="#000" stroke-miterlimit="10.433" ns0:preamble="default_packages.tex" ns0:text="col.1 col.2 col.3 col.A col.B\n" xml:space="preserve"><g fill-opacity=".79216" stroke-width="0"><path d="m149.97 694.45v0.2043l9e-3 0.065v0.065l9e-3 0.065 0.018 0.1114v0.0557l9e-3 0.0557 0.0186 0.0557 9e-3 0.0557 0.0186 0.10211 0.0279 0.0928 0.0371 0.0928 0.0279 0.0835 0.0371 0.0835 0.0464 0.0743 0.0371 0.065 0.0464 0.065 0.0371 0.065 0.0464 0.0557 0.0557 0.0464 0.0928 0.0928 0.0557 0.0371 0.0464 0.0371 0.0557 0.0279 0.0464 0.0278 0.0557 0.0278 0.0557 0.0186 0.0464 0.0186 0.0557 9e-3 0.0557 0.0186 0.0464 9e-3h0.0464l0.0464 9e-3h0.0557c0.0835 0 0.65902-9e-3 0.98389-0.34343-0.38056-0.0279-0.43625-0.30631-0.43625-0.42697 0-0.24133 0.16707-0.41769 0.42697-0.41769 0.24133 0 0.42696 0.14851 0.42696 0.42697 0 0.63117-0.70542 0.99317-1.4201 0.99317-1.151 0-2.0049-1.0024-2.0049-2.1441 0-1.1788 0.91891-2.0884 1.9956-2.0884 1.2345 0 1.5315 1.1046 1.5315 1.1974 0 0.0928-0.0928 0.0928-0.12067 0.0928-0.0835 0-0.1021-0.0371-0.12066-0.0928-0.26918-0.86322-0.87251-0.9746-1.2067-0.9746-0.49194 0-1.3088 0.39912-1.3088 1.8842z"/><path d="m157.36 694.41-9e-3 0.11139-9e-3 0.11138-9e-3 0.1021-0.0186 0.11139-0.0186 0.1021-0.0279 0.1021-0.0371 0.1021-0.0742 0.1856-0.0464 0.0928-0.0557 0.0928-0.0464 0.0835-0.0557 0.0928-0.065 0.0743-0.065 0.0835-0.065 0.0743-0.0743 0.0743-0.1486 0.13-0.0835 0.0557-0.0835 0.065-0.0835 0.0464-0.0928 0.0464-0.0835 0.0464-0.0928 0.0371-0.1021 0.0371-0.0928 0.0279-0.1021 0.0278-0.0928 0.0186-0.1021 9e-3 -0.11138 9e-3 -0.10211 9e-3 -9e-3 -0.20421c0.40841 0 0.80753-0.2042 1.0489-0.60332 0.24133-0.39913 0.24133-0.9282 0.24133-1.2809 0-0.33415 0-0.82609-0.2042-1.2345-0.2042-0.41769-0.61261-0.68686-1.0767-0.68686-0.39912 0-0.80752 0.19492-1.0488 0.62189-0.23205 0.4084-0.23205 0.96532-0.23205 1.2995 0 0.362 0 0.85394 0.22276 1.2623 0.25062 0.42697 0.67758 0.62189 1.0489 0.62189l9e-3 0.20421c-1.151 0-2.0513-1.0117-2.0513-2.1627 0-1.1881 0.96532-2.0699 2.042-2.0699 1.1231 0 2.0606 0.90035 2.0606 2.0699z"/><path d="m159.26 698.84-1.3366-0.1021v-0.28774c0.64974 0 0.72399-0.065 0.72399-0.51051v-4.7988c0-0.41769-0.1021-0.41769-0.72399-0.41769v-0.27846c0.3063 9e-3 0.79825 0.0278 1.0303 0.0278 0.23204 0 0.67758-0.0186 1.021-0.0278v0.27846c-0.62189 0-0.71471 0-0.71471 0.41769z"/><path d="m161.96 692.93v0.0743l-9e-3 0.0278v0.0186l-9e-3 0.0279-9e-3 0.0186-9e-3 0.0278-0.027 0.0558-0.0186 0.0186-9e-3 0.0279-0.0186 0.0186-0.0186 9e-3 -9e-3 0.0186-0.0372 0.0372-0.0186 9e-3 -0.0186 0.0186-0.0372 0.018-0.0279 0.0186-0.0372 0.018h-0.0279l-0.0186 9e-3 -0.0279 9e-3h-0.0278l-0.0186 9e-3h-0.0557c-0.25989 0-0.48266-0.22277-0.48266-0.49195 0-0.26917 0.22277-0.48266 0.48266-0.48266 0.26918 0 0.49194 0.21349 0.49194 0.48266z"/><path d="m165.48 698.34v0.1266h-9e-3v0.045l-9e-3 9e-3v9e-3h-9e-3v9e-3l-0.018 0.018h-9e-3l-9e-3 9e-3h-0.027l-9e-3 9e-3h-0.108c-0.57548-0.59404-1.3923-0.59404-1.6893-0.59404v-0.27846c0.18564 0 0.73327 0 1.2159 0.23205v-4.7709c0-0.33415-0.0278-0.44553-0.86322-0.44553h-0.29702v-0.27846c0.32487 0.0278 1.1324 0.0278 1.5037 0.0278 0.37128 0 1.1788 0 1.4944-0.0278v0.27846h-0.29703c-0.82609 0-0.85393 0.1021-0.85393 0.44553z"/><path d="m184.97 694.45v0.1393l9e-3 0.065v0.065l9e-3 0.065v0.065l0.054 0.3342 0.0279 0.10211 0.0279 0.0928 0.0278 0.0928 0.0742 0.167 0.0371 0.0743 0.0371 0.065 0.0928 0.13 0.0464 0.0557 0.1392 0.1392 0.0557 0.0371 0.0464 0.0371 0.0557 0.0279 0.0557 0.0278 0.0464 0.0278 0.1114 0.0372 0.0464 9e-3 0.0557 0.0186 0.0464 9e-3h0.0557l0.0464 9e-3h0.0464c0.0835 0 0.6683-9e-3 0.99317-0.34343-0.38056-0.0279-0.43625-0.30631-0.43625-0.42697 0-0.24133 0.15779-0.41769 0.41768-0.41769 0.24133 0 0.42697 0.14851 0.42697 0.42697 0 0.63117-0.69614 0.99317-1.4108 0.99317-1.1602 0-2.0142-1.0024-2.0142-2.1441 0-1.1788 0.91891-2.0884 1.9956-2.0884 1.2345 0 1.5315 1.1046 1.5315 1.1974 0 0.0928-0.0928 0.0928-0.12066 0.0928-0.0835 0-0.1021-0.0371-0.12067-0.0928-0.26917-0.86322-0.86322-0.9746-1.2066-0.9746-0.49194 0-1.3088 0.39912-1.3088 1.8842z"/><path d="m192.36 694.41v0.11139l-9e-3 0.11138-0.0186 0.1021-0.0186 0.11139-0.0186 0.1021-0.0279 0.1021-0.0371 0.1021-0.0742 0.1856-0.0928 0.1856-0.0557 0.0835-0.0557 0.0928-0.065 0.0743-0.065 0.0835-0.065 0.0743-0.0742 0.0743-0.1486 0.13-0.0835 0.0557-0.0835 0.065-0.167 0.0928-0.0928 0.0464-0.1856 0.0742-0.1021 0.0279-0.0928 0.0278-0.1021 0.0186-0.2042 0.018-0.10211 9e-3 -9e-3 -0.20421c0.39913 0 0.79825-0.2042 1.0396-0.60332 0.24133-0.39913 0.24133-0.9282 0.24133-1.2809 0-0.33415 0-0.82609-0.2042-1.2345-0.20421-0.41769-0.61261-0.68686-1.0674-0.68686-0.39912 0-0.80752 0.19492-1.0581 0.62189-0.23205 0.4084-0.23205 0.96532-0.23205 1.2995 0 0.362 0 0.85394 0.22277 1.2623 0.25061 0.42697 0.68686 0.62189 1.0581 0.62189l9e-3 0.20421c-1.1602 0-2.0606-1.0117-2.0606-2.1627 0-1.1881 0.96533-2.0699 2.0513-2.0699 1.1138 0 2.0513 0.90035 2.0513 2.0699z"/><path d="m194.26 698.84-1.3366-0.1021v-0.28774c0.64973 0 0.72399-0.065 0.72399-0.51051v-4.7988c0-0.41769-0.1021-0.41769-0.72399-0.41769v-0.27846c0.3063 9e-3 0.79824 0.0278 1.0303 0.0278s0.68687-0.0186 1.0303-0.0278v0.27846c-0.62189 0-0.72399 0-0.72399 0.41769z"/><path d="m196.97 692.93v0.0278l-9e-3 0.0186v0.0557l-9e-3 0.0186-9e-3 0.0279-9e-3 0.0186-9e-3 0.0278-0.027 0.0558-0.0186 0.0186-9e-3 0.0279-0.0834 0.0834-0.0186 9e-3 -0.0186 0.0186-0.0372 0.018-0.0279 0.0186-0.0372 0.018h-0.0278l-0.0186 9e-3 -0.0278 9e-3h-0.0186l-0.0279 9e-3h-0.0465c-0.26918 0-0.49194-0.22277-0.49194-0.49195 0-0.26917 0.22276-0.48266 0.49194-0.48266s0.49194 0.21349 0.49194 0.48266z"/><path d="m198.93 693.15 0.98389 0.94676c1.448 1.2716 2.0049 1.7728 2.0049 2.6918 0 1.0581-0.83537 1.7914-1.9678 1.7914-1.0488 0-1.7264-0.84465-1.7264-1.6707 0-0.51051 0.4641-0.51051 0.49195-0.51051 0.15779 0 0.47338 0.11138 0.47338 0.48266 0 0.24133-0.16708 0.48266-0.48267 0.48266-0.0743 0-0.0928 0-0.12066-9e-3 0.2042 0.60332 0.70543 0.93747 1.2438 0.93747 0.84466 0 1.2438-0.74255 1.2438-1.5037 0-0.73327-0.4641-1.4666-0.9746-2.0327l-1.7728-1.9771c-0.10211-0.1021-0.10211-0.12066-0.10211-0.33415h3.4343l0.25989 1.5965h-0.23204c-0.0464-0.27846-0.11139-0.67758-0.20421-0.81681-0.065-0.0743-0.67758-0.0743-0.88178-0.0743z"/><path d="m217.83 694.31v0.0743l9e-3 0.065v0.13l9e-3 0.065v0.065l0.054 0.3342 0.0279 0.1021 0.0278 0.0928 0.0279 0.0928 0.0742 0.167 0.0371 0.0743 0.0371 0.065 0.0928 0.13 0.0464 0.0557 0.0928 0.0928 0.0557 0.0464 0.0464 0.0371 0.0557 0.0371 0.0464 0.0278 0.0557 0.0279 0.0557 0.0278 0.0464 0.0186 0.0557 0.0186 0.0557 9e-3 0.0464 0.0186 0.0464 9e-3h0.0557l0.0464 9e-3h0.0464c0.0835 0 0.66829-9e-3 0.99316-0.34343-0.38056-0.0278-0.43625-0.3063-0.43625-0.42697 0-0.24133 0.16708-0.41769 0.42697-0.41769 0.24133 0 0.42697 0.14851 0.42697 0.42697 0 0.63117-0.70543 0.99317-1.4201 0.99317-1.1602 0-2.0049-1.0024-2.0049-2.1441 0-1.1788 0.90963-2.0884 1.9863-2.0884 1.2438 0 1.5408 1.1046 1.5408 1.1974 0 0.0928-0.0928 0.0928-0.12066 0.0928-0.0835 0-0.10211-0.0371-0.12067-0.0928-0.26918-0.86322-0.8725-0.97461-1.2159-0.97461-0.49195 0-1.3088 0.39913-1.3088 1.8842z"/><path d="m225.22 694.27v0.11138l-9e-3 0.11138-9e-3 0.10211-0.0186 0.11138-0.0279 0.1021-0.0278 0.1021-0.0279 0.1021-0.0371 0.0928-0.1392 0.2784-0.0557 0.0835-0.0557 0.0928-0.0557 0.0743-0.065 0.0835-0.0743 0.0743-0.065 0.0743-0.0743 0.065-0.0835 0.065-0.0742 0.0557-0.0835 0.065-0.0928 0.0464-0.0835 0.0464-0.0928 0.0464-0.1856 0.0742-0.0928 0.0278-0.10211 0.0279-0.1021 0.0186-0.3063 0.027-9e-3 -0.2042c0.4084 0 0.80753-0.20421 1.0396-0.60333 0.24133-0.39912 0.24133-0.92819 0.24133-1.2809 0-0.33415 0-0.82609-0.19492-1.2345-0.2042-0.41769-0.6126-0.68687-1.0767-0.68687-0.39912 0-0.80753 0.19492-1.0581 0.62189-0.23205 0.40841-0.23205 0.96532-0.23205 1.2995 0 0.362 0 0.85394 0.22277 1.2624 0.25061 0.42697 0.68686 0.62189 1.0581 0.62189l9e-3 0.2042c-1.1602 0-2.0606-1.0117-2.0606-2.1627 0-1.1881 0.96532-2.0699 2.0513-2.0699 1.1138 0 2.0513 0.90034 2.0513 2.0699z"/><path d="m227.12 698.7-1.3273-0.1021v-0.28774c0.64045 0 0.7147-0.065 0.7147-0.51051v-4.7988c0-0.41768-0.1021-0.41768-0.7147-0.41768v-0.27846c0.29702 9e-3 0.78896 0.0278 1.021 0.0278s0.68686-0.0186 1.0303-0.0278v0.27846c-0.62189 0-0.72399 0-0.72399 0.41768z"/><path d="m229.83 692.79v0.0464l-9e-3 0.0278v0.0279l-9e-3 0.0186-9e-3 0.0278v0.0186l-9e-3 0.0278-9e-3 0.0186-0.0186 0.0186-0.018 0.0372-0.0186 0.0278-9e-3 0.0186-0.0186 9e-3 -0.0558 0.0558-0.0186 9e-3 -0.0186 0.0186-0.0372 0.018-0.0186 0.0186-0.0279 9e-3 -0.0186 9e-3h-0.0186l-0.0279 9e-3 -0.0186 9e-3h-0.0279l-0.0278 9e-3h-0.0464c-0.26918 0-0.49195-0.22277-0.49195-0.49194 0-0.26918 0.22277-0.48266 0.49195-0.48266 0.26917 0 0.49194 0.21348 0.49194 0.48266z"/><path d="m233.3 695.55 0.0743 0.0278 0.065 0.0279 0.0743 0.0278 0.065 0.0278 0.13 0.0742 0.0557 0.0371 0.065 0.0371 0.0557 0.0371 0.1114 0.0928 0.0464 0.0464 0.0557 0.0464 0.0464 0.0464 0.0464 0.0557 0.0464 0.0464 0.0371 0.0557 0.0464 0.0557 0.0371 0.0557 0.0279 0.0557 0.0371 0.065 0.0278 0.0557 0.0279 0.065 0.0278 0.0557 0.0558 0.195 0.027 0.195 9e-3 0.0743v0.065c0 0.75184-0.81681 1.2716-1.7079 1.2716-0.9282 0-1.6336-0.54764-1.6336-1.2531 0-0.30631 0.2042-0.48266 0.47338-0.48266 0.28774 0 0.47337 0.2042 0.47337 0.47337 0 0.4641-0.43625 0.4641-0.57548 0.4641 0.28774 0.44553 0.90035 0.5662 1.2252 0.5662 0.38056 0 0.89107-0.2042 0.89107-1.0303 0-0.11138-0.0186-0.64973-0.2599-1.0488-0.27846-0.44554-0.59404-0.47338-0.82609-0.48267-0.0743-9e-3 -0.28774-0.0278-0.35271-0.0278-0.0743-9e-3 -0.13923-0.0186-0.13923-0.11138 0-0.10211 0.065-0.10211 0.22276-0.10211h0.39913c0.76111 0 1.1046-0.62189 1.1046-1.5315 0-1.2531-0.64046-1.5222-1.0489-1.5222-0.38984 0-1.086 0.15779-1.4109 0.70542 0.32487-0.0464 0.61261 0.1578 0.61261 0.51051 0 0.32487-0.25061 0.51051-0.51979 0.51051-0.22276 0-0.51979-0.12995-0.51979-0.52907 0-0.84466 0.86322-1.448 1.8657-1.448 1.1324 0 1.9771 0.83537 1.9771 1.7728 0 0.76111-0.58477 1.4758-1.5501 1.6707z"/></g><g stroke-width="0"><path d="m333.57 694.17v0.2074l9e-3 0.066v0.066l9e-3 0.066v0.0565l0.036 0.226 0.0188 0.0565 0.0188 0.10364 0.0283 0.0942 0.0377 0.0942 0.0283 0.0848 0.0377 0.0848 0.0377 0.0754 0.0471 0.066 0.0377 0.066 0.0471 0.066 0.0471 0.0565 0.0471 0.0471 0.0565 0.0471 0.0471 0.0471 0.0471 0.0377 0.0565 0.0377 0.0565 0.0283 0.0471 0.0283 0.0565 0.0283 0.0565 0.0188 0.0471 0.0188 0.0565 9e-3 0.0471 0.0188 0.0565 9e-3h0.0471l0.0471 9e-3h0.0471c0.0848 0 0.67842-9e-3 1.0082-0.34864-0.38632-0.0283-0.44286-0.31094-0.44286-0.43344 0-0.24498 0.16961-0.42401 0.43344-0.42401 0.24499 0 0.43344 0.15076 0.43344 0.43344 0 0.64073-0.71612 1.0082-1.4416 1.0082-1.1684 0-2.0353-1.0176-2.0353-2.1766 0-1.1967 0.93283-2.1201 2.0164-2.1201 1.2626 0 1.5642 1.1213 1.5642 1.2155 0 0.0942-0.0942 0.0942-0.1225 0.0942-0.0848 0-0.10364-0.0377-0.12249-0.0942-0.27325-0.8763-0.88572-0.98937-1.2344-0.98937-0.49939 0-1.3192 0.40517-1.3192 1.9128z"/><path d="m341.06 694.14v0.11307l-9e-3 0.11307-9e-3 0.10365-0.0188 0.11307-0.0849 0.31095-0.0377 0.0942-0.0471 0.0942-0.0377 0.0942-0.0565 0.0942-0.0565 0.0848-0.0565 0.0942-0.0565 0.0754-0.066 0.0848-0.0754 0.0754-0.066 0.0754-0.0754 0.066-0.0848 0.066-0.0754 0.0565-0.0848 0.066-0.0848 0.0471-0.1884 0.0942-0.1884 0.0754-0.0942 0.0283-0.10364 0.0283-0.10365 0.0188-0.31095 0.027-9e-3 -0.20729c0.41459 0 0.81976-0.2073 1.0648-0.61247s0.24499-0.94226 0.24499-1.3003c0-0.33921 0-0.83861-0.2073-1.2532-0.20729-0.42401-0.62189-0.69727-1.093-0.69727-0.40517 0-0.81976 0.19787-1.0742 0.63131-0.23556 0.4146-0.23556 0.97995-0.23556 1.3192 0 0.36748 0 0.86688 0.22614 1.2815 0.25441 0.43344 0.69727 0.63132 1.0742 0.63132l9e-3 0.20729c-1.1778 0-2.0824-1.0271-2.0824-2.1955 0-1.2061 0.97053-2.1012 2.073-2.1012 1.1401 0 2.0824 0.91399 2.0824 2.1012z"/><path d="m342.99 698.63-1.3474-0.10365v-0.2921c0.65958 0 0.73496-0.066 0.73496-0.51824v-4.8715c0-0.42402-0.10365-0.42402-0.73496-0.42402v-0.28267c0.31094 9e-3 0.80092 0.0283 1.0365 0.0283 0.23557 0 0.69727-0.0188 1.0459-0.0283v0.28267c-0.63131 0-0.73496 0-0.73496 0.42402z"/><path d="m345.75 692.63v0.0471l-9e-3 0.0283v0.0283l-9e-3 0.0188v0.0283l-9e-3 0.0189-9e-3 0.0283-0.018 0.0376-0.0188 0.0188-9e-3 0.0188-9e-3 0.0283-0.0188 0.0189-0.0189 9e-3 -9e-3 0.0189-0.0188 0.0188-0.0188 0.0189-0.0188 9e-3 -0.0188 0.0188-0.0188 9e-3 -0.0283 9e-3 -0.0189 0.0188-0.0188 9e-3 -0.0283 9e-3h-0.0188l-0.0283 9e-3 -0.0188 9e-3h-0.0283l-0.0188 9e-3h-0.0566c-0.27325 0-0.49939-0.22614-0.49939-0.4994 0-0.27325 0.22614-0.48997 0.49939-0.48997 0.27326 0 0.4994 0.21672 0.4994 0.48997z"/><path d="m385.91 693.95v0.1414l9e-3 0.066v0.132l9e-3 0.066 0.054 0.339 0.0283 0.10364 0.0566 0.1884 0.0377 0.0848 0.0283 0.0848 0.0471 0.0754 0.0377 0.066 0.0942 0.132 0.0471 0.0565 0.1413 0.1413 0.0565 0.0377 0.0471 0.0377 0.113 0.0566 0.0471 0.0283 0.113 0.0376 0.0471 9e-3 0.0565 0.0188 0.0471 9e-3h0.0471l0.0565 9e-3h0.0471c0.0848 0 0.66901-9e-3 0.9988-0.34864-0.38633-0.0283-0.44287-0.31094-0.44287-0.43344 0-0.24498 0.16961-0.42401 0.43344-0.42401 0.24499 0 0.43344 0.15076 0.43344 0.43344 0 0.64073-0.71611 1.0082-1.4322 1.0082-1.1778 0-2.0447-1.0176-2.0447-2.1766 0-1.1967 0.93284-2.1201 2.0258-2.1201 1.2532 0 1.5547 1.1213 1.5547 1.2155 0 0.0942-0.0942 0.0942-0.12249 0.0942-0.0848 0-0.10365-0.0377-0.1225-0.0942-0.27325-0.8763-0.8763-0.98937-1.2249-0.98937-0.4994 0-1.3286 0.40517-1.3286 1.9128z"/><path d="m393.41 693.91v0.11307l-9e-3 0.11307-0.0188 0.10365-0.0188 0.11307-0.0188 0.10365-0.0283 0.10365-0.0377 0.10365-0.0754 0.1884-0.0942 0.1884-0.0565 0.0848-0.0565 0.0942-0.066 0.0754-0.066 0.0848-0.0659 0.0754-0.0754 0.0754-0.1508 0.132-0.0848 0.0565-0.0848 0.066-0.0848 0.0471-0.0942 0.0471-0.0848 0.0471-0.1884 0.0754-0.10364 0.0283-0.10365 0.0283-0.0942 0.0188-0.20729 0.018-0.11307 9e-3 -9e-3 -0.20729c0.4146 0 0.81977-0.2073 1.0648-0.61247 0.24499-0.40517 0.24499-0.94226 0.24499-1.3003 0-0.33921 0-0.83861-0.2073-1.2532-0.20729-0.42401-0.62189-0.69727-1.093-0.69727-0.39575 0-0.81035 0.19787-1.0648 0.63131-0.23556 0.4146-0.23556 0.97995-0.23556 1.3192 0 0.36748 0 0.86688 0.22614 1.2815 0.25441 0.43344 0.69727 0.63132 1.0648 0.63132l9e-3 0.20729c-1.1684 0-2.0824-1.0271-2.0824-2.1955 0-1.2061 0.97994-2.1012 2.073-2.1012 1.1401 0 2.0918 0.91399 2.0918 2.1012z"/><path d="m395.34 698.41-1.3568-0.10365v-0.2921c0.65958 0 0.73496-0.066 0.73496-0.51824v-4.8715c0-0.42402-0.10365-0.42402-0.73496-0.42402v-0.28267c0.31095 9e-3 0.81034 0.0283 1.0459 0.0283 0.23556 0 0.69727-0.0188 1.0459-0.0283v0.28267c-0.63131 0-0.73496 0-0.73496 0.42402z"/><path d="m398.08 692.41v0.0754l-9e-3 0.0283v0.0188l-9e-3 0.0283-9e-3 0.0189-9e-3 0.0283-0.027 0.0564-0.0188 0.0188-9e-3 0.0283-0.0188 0.0189-9e-3 9e-3 -0.0188 0.0189-0.0188 0.0188-0.0188 0.0189-0.0188 9e-3 -0.0188 0.0188-0.0376 0.018-0.0283 0.0188-0.0376 0.018h-0.0283l-0.0188 9e-3 -0.0283 9e-3h-0.0188l-0.0283 9e-3h-0.0471c-0.27326 0-0.4994-0.22614-0.4994-0.4994 0-0.27325 0.22614-0.48997 0.4994-0.48997 0.27325 0 0.48997 0.21672 0.48997 0.48997z"/></g><g transform="matrix(.8757 0 0 .8757 216.95 73.166)" fill-rule="evenodd" stroke="#000" stroke-miterlimit="10.433" stroke-width="5.6679" ns0:preamble="default_packages.tex" ns0:text="XY\n" xml:space="preserve"><path d="m152.72 710.96 1.37 2c0.22 0.31 0.56 0.63 1.44 0.64v0.31c-0.39-0.01-0.85-0.03-1.1-0.03-0.4 0-0.88 0-1.28 0.03v-0.31c0.4-0.01 0.62-0.23 0.62-0.45 0-0.1-0.02-0.12-0.09-0.23l-1.14-1.68-1.28 1.92c-0.02 0.02-0.08 0.1-0.08 0.14 0 0.12 0.22 0.29 0.65 0.3v0.31c-0.35-0.03-1.07-0.03-1.45-0.03-0.31 0-0.93 0.01-1.3 0.03v-0.31h0.19c0.55 0 0.74-0.07 0.93-0.35l1.83-2.76-1.63-2.4c-0.14-0.2-0.44-0.66-1.45-0.66v-0.3c0.36 0.01 0.78 0.03 1.11 0.03 0.37 0 0.92 0 1.28-0.03v0.3c-0.46 0.01-0.63 0.28-0.63 0.46 0 0.09 0.03 0.13 0.1 0.24l1.41 2.08 1.58-2.37c0.02-0.04 0.05-0.08 0.05-0.11 0-0.12-0.22-0.29-0.65-0.3v-0.3c0.35 0.03 1.08 0.03 1.45 0.03 0.42 0 0.88-0.01 1.3-0.03v0.3h-0.19c-0.52 0-0.73 0.05-0.94 0.36z" stroke-width="0"/><path d="m213.74 712.59 0.03 0.05 0.08 0.1 0.03 0.05 0.08 0.08 0.05 0.04 0.12 0.09 0.05 0.03 0.04 0.03 0.04 0.02 0.05 0.02 0.08 0.04 0.05 0.01 0.04 0.01 0.04 0.02 0.05 0.01 0.04 0.01h0.04l0.08 0.02h0.08l0.04 0.01h0.16v0.31c-0.30997-0.02-0.69997-0.03-0.96997-0.03-0.31 0-0.89 0.02-1.15 0.03v-0.31c0.41 0 0.57-0.19 0.57-0.39 0-0.11-0.06-0.23-0.1-0.29l-1.65-2.67-1.8 2.93c-0.07 0.1-0.07 0.12-0.07 0.17 0 0.21 0.25 0.25 0.7 0.25v0.31c-0.36-0.03-1.09-0.03-1.48-0.03-0.42 0-0.88 0.01-1.3 0.03v-0.31h0.18c0.68 0 0.76-0.11 0.92-0.37l2.1-3.39v-1.94c0-0.36-0.03-0.47-0.79-0.47h-0.24v-0.3c0.36 0.03 1.06 0.03 1.45 0.03s1.1 0 1.46-0.03v0.3h-0.23c-0.77 0-0.8 0.1-0.8 0.49v1.92z" fill-rule="evenodd" stroke-miterlimit="10.433" stroke-width="0"/><g fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828"><g stroke-linecap="square" stroke-linejoin="round"><rect transform="scale(1,-1)" x="316.38" y="-700.96" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="316.38" y="-676.72" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="316.38" y="-652.48" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="316.38" y="-628.24" width="144.5" height="24.238"/></g><path d="m431.72 701.41v-96.406"/></g><g font-family="'Courier New'" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px"><text transform="scale(1 -1)" x="441.44238" y="-683.04425" fill="#969696" font-size="18.013px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="441.44238" y="-683.04425" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">A</tspan></text><g font-size="18.013px">
<text transform="scale(1 -1)" x="441.92017" y="-658.59308" fill="#969696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="441.92017" y="-658.59308" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">B</tspan></text>
<text transform="scale(1 -1)" x="441.28586" y="-634.18689" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="441.28586" y="-634.18689" fill="#da9696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">C</tspan></text>
<text transform="scale(1 -1)" x="441.95917" y="-610.28564" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="441.95917" y="-610.28564" fill="#da9696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">D</tspan></text></g></g><g fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828">
<path d="m395.78 700.1v-96.406"/><path d="m357.69 700.58v-96.406"/><g stroke-linecap="square" stroke-linejoin="round"><rect transform="scale(-1)" x="-576.23" y="-653.48" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="431.72" y="-629.25" width="144.5" height="24.238"/><rect transform="scale(-1)" x="-576.23" y="-605.01" width="144.5" height="24.238"/><rect transform="scale(-1)" x="-576.23" y="-580.77" width="144.5" height="24.238"/></g><path d="m460.89 653.94v-96.406"/></g><text transform="scale(1 -1)" x="441.83511" y="-586.37653" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="441.83511" y="-586.37653" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">E</tspan></text>
<text transform="scale(1 -1)" x="442.50842" y="-562.47528" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="442.50842" y="-562.47528" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">F</tspan></text><g fill="none" stroke-miterlimit="4">
<path d="m513.66 652.97v-96.406" stroke="#dcdcdc" stroke-width="2.6828"/><rect transform="scale(1,-1)" x="316.38" y="-700.96" width="144.5" height="96.952" stroke="#000" stroke-linecap="square" stroke-linejoin="round" stroke-opacity=".38647" stroke-width=".75573"/><rect transform="scale(1,-1)" x="431.72" y="-653.48" width="144.5" height="96.952" stroke="#000" stroke-linecap="square" stroke-linejoin="round" stroke-opacity=".38647" stroke-width=".75573"/></g></g></g>
  </g>
 </g>
</svg>

In [ ]:
#@title Inner Join
%%html 

<svg width="218.4mm" height="58.397mm" version="1.1" viewBox="0 0 218.4 58.397" xmlns="http://www.w3.org/2000/svg" xmlns:ns0="http://www.iki.fi/pav/software/textext/">
 <g transform="translate(-55.09 -25.751)">
  <g transform="matrix(.45332 0 0 -.45332 -10.894 340.12)" fill-rule="evenodd" stroke="#000" stroke-miterlimit="10.433" stroke-width="3.309" ns0:preamble="default_packages.tex" ns0:text="col.1 col.2 col.3 col.A col.B\n" xml:space="preserve"><g transform="matrix(.8757 0 0 .8757 216.95 73.166)" fill-rule="evenodd" stroke-miterlimit="10.433" stroke-width="5.6679" ns0:preamble="default_packages.tex" ns0:text="XY\n" xml:space="preserve"><g fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828"><g stroke-linecap="square" stroke-linejoin="round"><rect transform="scale(1,-1)" x="-80.178" y="-707.02" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-682.78" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-658.54" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-634.3" width="144.5" height="24.238"/></g><path d="m35.164 707.47v-96.406"/></g><g font-family="'Courier New'" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px"><text transform="scale(1 -1)" x="44.88348" y="-689.1037" fill="#969696" font-size="18.013px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="44.88348" y="-689.1037" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">A</tspan></text><g font-size="18.013px">
<text transform="scale(1 -1)" x="45.361263" y="-664.65253" fill="#969696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.361263" y="-664.65253" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">B</tspan></text>
<text transform="scale(1 -1)" x="44.726955" y="-640.24634" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="44.726955" y="-640.24634" fill="#da9696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">C</tspan></text>
<text transform="scale(1 -1)" x="45.400265" y="-616.34509" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.400265" y="-616.34509" fill="#da9696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">D</tspan></text></g></g><g fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828">
<path d="m-0.77951 706.16v-96.406"/><path d="m-38.866 706.64v-96.406"/><g stroke-linecap="square" stroke-linejoin="round"><rect transform="scale(-1)" x="-179.67" y="-658.25" width="144.5" height="22.942"/><rect transform="scale(1,-1)" x="35.164" y="-635.31" width="144.5" height="24.238"/><rect transform="scale(-1)" x="-179.67" y="-611.07" width="144.5" height="24.238"/><rect transform="scale(-1)" x="-179.67" y="-586.83" width="144.5" height="24.238"/></g><path d="m64.326 660v-96.406"/></g><text transform="scale(1 -1)" x="45.276211" y="-592.43597" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.276211" y="-592.43597" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">E</tspan></text>
<text transform="scale(1 -1)" x="45.94952" y="-568.53473" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.94952" y="-568.53473" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">F</tspan></text>
<path d="m117.1 659.03v-96.406" fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828"/><rect transform="scale(1,-1)" x="-79.9" y="-658.29" width="259.33" height="47.4" fill="#006ea4" fill-opacity=".058824" stroke="#005bff" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="4" stroke-opacity=".17391" stroke-width="2.0153"/><g fill="none" stroke="#005bdc" stroke-miterlimit="4"><g stroke-opacity=".17255"><path d="m117.1 657.27v-45.369" stroke-width="2.6828"/><path d="m-38.866 657.29v-45.389" stroke-width="2.6828"/><path d="m-0.77951 657.28v-45.374" stroke-width="2.6828"/><path d="m35.164 657.29v-45.397" stroke-width="2.6828"/><path d="m178.41 635.28h-257.32" stroke-width="2.6828"/></g><ellipse transform="scale(1,-1)" cx="340.87" cy="-626.59" rx="55.612" ry="50.664" stroke-linecap="square" stroke-linejoin="round" stroke-opacity=".27451" stroke-width="2.0153"/><ellipse transform="scale(1,-1)" cx="412.03" cy="-626.36" rx="55.612" ry="50.664" stroke-linecap="square" stroke-linejoin="round" stroke-opacity=".27451" stroke-width="2.0153"/></g><path transform="matrix(.66651 0 0 -.66651 -89.421 714.57)" d="m699.24 76.07c-7.3009 4.3213-12.633 11.508-17.435 18.384-14.373 21.346-15.183 50.739-1.8314 72.767 4.9347 8.011 10.926 15.974 18.838 21.151 6.2139-4.1219 11.197-10.161 15.733-16.066 7.1622-10.97 12.806-23.522 12.448-36.888 0.58041-10.784-0.60492-21.807-5.591-31.541-4.6336-10.857-12.442-20.196-21.462-27.671-0.21203-0.11384-0.45831-0.19382-0.7002-0.13534z" fill="#005bff" fill-opacity=".098039" stroke="none"/></g></g>
 </g>
</svg>

In [ ]:
import pandas as pd
import numpy as np

# inner join = intersection
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                    columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                     columns=['name', 'drink'])
merge = pd.merge(df6, df7)
merge_exp = pd.merge(df6, df7, how='inner')

draw_tbl([[{'text':"inner join = intersection", 'colspan':4}],
          ['df1a', "df3", "pd.merge(df6, df7)", "pd.merge(df6, df7, how='inner') # explicit declaration of method"],
          [pandas_to_html(df6), pandas_to_html(df7), pandas_to_html(merge), pandas_to_html(merge_exp)]])

In [ ]:
#@title Left Join
%%html 

<svg width="218.4mm" height="58.397mm" version="1.1" viewBox="0 0 218.4 58.397" xmlns="http://www.w3.org/2000/svg" xmlns:ns0="http://www.iki.fi/pav/software/textext/">
 <g transform="translate(-55.09 -25.751)">
  <g transform="matrix(.45332 0 0 -.45332 -10.894 340.12)" fill-rule="evenodd" stroke="#000" stroke-miterlimit="10.433" stroke-width="3.309" ns0:preamble="default_packages.tex" ns0:text="col.1 col.2 col.3 col.A col.B\n" xml:space="preserve"><g transform="matrix(.8757 0 0 .8757 216.95 73.166)" fill-rule="evenodd" stroke-miterlimit="10.433" stroke-width="5.6679" ns0:preamble="default_packages.tex" ns0:text="XY\n" xml:space="preserve"><g fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828"><g stroke-linecap="square" stroke-linejoin="round"><rect transform="scale(1,-1)" x="-80.178" y="-707.02" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-682.78" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-658.54" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-634.3" width="144.5" height="24.238"/></g><path d="m35.164 707.47v-96.406"/></g><g font-family="'Courier New'" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px"><text transform="scale(1 -1)" x="44.88348" y="-689.1037" fill="#969696" font-size="18.013px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="44.88348" y="-689.1037" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">A</tspan></text><g font-size="18.013px">
<text transform="scale(1 -1)" x="45.361263" y="-664.65253" fill="#969696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.361263" y="-664.65253" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">B</tspan></text>
<text transform="scale(1 -1)" x="44.726955" y="-640.24634" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="44.726955" y="-640.24634" fill="#da9696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">C</tspan></text>
<text transform="scale(1 -1)" x="45.400265" y="-616.34509" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.400265" y="-616.34509" fill="#da9696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">D</tspan></text></g></g><g fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828">
<path d="m-0.77951 706.16v-96.406"/><path d="m-38.866 706.64v-96.406"/><g stroke-linecap="square" stroke-linejoin="round"><rect transform="scale(-1)" x="-179.67" y="-658.25" width="144.5" height="22.942"/><rect transform="scale(1,-1)" x="35.164" y="-635.31" width="144.5" height="24.238"/><rect transform="scale(-1)" x="-179.67" y="-611.07" width="144.5" height="24.238"/><rect transform="scale(-1)" x="-179.67" y="-586.83" width="144.5" height="24.238"/></g><path d="m64.326 660v-96.406"/></g><text transform="scale(1 -1)" x="45.276211" y="-592.43597" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.276211" y="-592.43597" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">E</tspan></text>
<text transform="scale(1 -1)" x="45.94952" y="-568.53473" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.94952" y="-568.53473" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">F</tspan></text>
<path d="m117.1 659.03v-96.406" fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828"/><rect transform="scale(1,-1)" x="-79.9" y="-706.89" width="259.33" height="95.997" fill="#006ea4" fill-opacity=".058824" stroke="#005bff" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="4" stroke-opacity=".17391" stroke-width="2.0153"/><g fill="none" stroke="#005bdc" stroke-miterlimit="4"><g stroke-opacity=".17255"><path d="m117.1 705.89v-93.99" stroke-width="2.6828"/><path d="m-38.866 705.87v-93.974" stroke-width="2.6828"/><path d="m-0.77951 705.89v-93.987" stroke-width="2.6828"/><path d="m35.164 705.78v-93.886" stroke-width="2.6828"/><path d="m178.41 635.28h-257.32" stroke-width="2.6828"/></g><ellipse transform="scale(1,-1)" cx="412.03" cy="-626.36" rx="55.612" ry="50.664" stroke-linecap="square" stroke-linejoin="round" stroke-opacity=".27451" stroke-width="2.0153"/><g stroke-opacity=".17255"><path d="m64.326 705.85v-93.886" stroke-width="2.6828"/><path d="m178.43 658.48h-257.32" stroke-width="2.6828"/><path d="m178.37 682.72h-257.32" stroke-width="2.6828"/></g></g><ellipse transform="scale(1,-1)" cx="340.87" cy="-626.59" rx="55.612" ry="50.664" fill="#005bff" fill-opacity=".098039" stroke="#005bdc" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="4" stroke-opacity=".27451" stroke-width="2.0153"/><g fill="#000000" font-family="Verdana" font-size="13.243px" letter-spacing="0px" stroke="none" stroke-width="3.7777" word-spacing="0px"><text transform="scale(1 -1)" x="75.898346" y="-689.55743" style="line-height:1.25" xml:space="preserve"><tspan x="75.898346" y="-689.55743" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text><g fill-rule="evenodd" stroke-miterlimit="10.433">
<text transform="scale(1 -1)" x="134.72403" y="-689.5968" style="line-height:1.25" xml:space="preserve"><tspan x="134.72403" y="-689.5968" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="134.84184" y="-665.44312" style="line-height:1.25" xml:space="preserve"><tspan x="134.84184" y="-665.44312" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="75.812469" y="-665.32526" style="line-height:1.25" xml:space="preserve"><tspan x="75.812469" y="-665.32526" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
</g></g></g></g>
 </g>
</svg>

In [ ]:
# augment left table with intersection
merge = pd.merge(df6, df7, how='left')

draw_tbl([[{'text':"augment left table with intersection", 'colspan':3}],
          ['df6', "df7", "pd.merge(df6, df7, how='left')"],
          [pandas_to_html(df6), pandas_to_html(df7), pandas_to_html(merge)]])

In [ ]:
#@title Outer Join
%%html

<svg width="218.4mm" height="58.397mm" version="1.1" viewBox="0 0 218.4 58.397" xmlns="http://www.w3.org/2000/svg" xmlns:ns0="http://www.iki.fi/pav/software/textext/">
 <g transform="translate(-55.09 -25.751)">
  <g transform="matrix(.45332 0 0 -.45332 -10.894 340.12)" fill-rule="evenodd" stroke="#000" stroke-miterlimit="10.433" stroke-width="3.309" ns0:preamble="default_packages.tex" ns0:text="col.1 col.2 col.3 col.A col.B\n" xml:space="preserve"><g transform="matrix(.8757 0 0 .8757 216.95 73.166)" fill-rule="evenodd" stroke-miterlimit="10.433" stroke-width="5.6679" ns0:preamble="default_packages.tex" ns0:text="XY\n" xml:space="preserve"><g fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828"><g stroke-linecap="square" stroke-linejoin="round"><rect transform="scale(1,-1)" x="-80.178" y="-707.02" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-682.78" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-658.54" width="144.5" height="24.238"/><rect transform="scale(1,-1)" x="-80.178" y="-634.3" width="144.5" height="24.238"/></g><path d="m35.164 707.47v-96.406"/></g><g font-family="'Courier New'" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px"><text transform="scale(1 -1)" x="44.88348" y="-689.1037" fill="#969696" font-size="18.013px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="44.88348" y="-689.1037" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">A</tspan></text><g font-size="18.013px">
<text transform="scale(1 -1)" x="45.361263" y="-664.65253" fill="#969696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.361263" y="-664.65253" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">B</tspan></text>
<text transform="scale(1 -1)" x="44.726955" y="-640.24634" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="44.726955" y="-640.24634" fill="#da9696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">C</tspan></text>
<text transform="scale(1 -1)" x="45.400265" y="-616.34509" fill="#da9696" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.400265" y="-616.34509" fill="#da9696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">D</tspan></text></g></g><g fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828">
<path d="m-0.77951 706.16v-96.406"/><path d="m-38.866 706.64v-96.406"/><g stroke-linecap="square" stroke-linejoin="round"><rect transform="scale(-1)" x="-179.67" y="-658.25" width="144.5" height="22.942"/><rect transform="scale(1,-1)" x="35.164" y="-635.31" width="144.5" height="24.238"/><rect transform="scale(-1)" x="-179.67" y="-611.07" width="144.5" height="24.238"/><rect transform="scale(-1)" x="-179.67" y="-586.83" width="144.5" height="24.238"/></g><path d="m64.326 660v-96.406"/></g><text transform="scale(1 -1)" x="45.276211" y="-592.43597" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.276211" y="-592.43597" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">E</tspan></text>
<text transform="scale(1 -1)" x="45.94952" y="-568.53473" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" letter-spacing="0px" stroke="none" stroke-width=".66651" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="45.94952" y="-568.53473" fill="#969696" font-family="'Courier New'" font-size="18.013px" font-weight="bold" stroke-width=".66651" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">F</tspan></text>
<path d="m117.1 659.03v-96.406" fill="none" stroke="#dcdcdc" stroke-miterlimit="4" stroke-width="2.6828"/><rect transform="scale(1,-1)" x="-79.9" y="-706.89" width="259.33" height="144.19" fill="#006ea4" fill-opacity=".058824" stroke="#005bff" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="4" stroke-opacity=".17391" stroke-width="2.0153"/><g fill="none" stroke="#005bdc" stroke-miterlimit="4"><g stroke-opacity=".17255"><path d="m117.1 705.89v-142.16" stroke-width="2.6828"/><path d="m-38.866 705.87v-142.16" stroke-width="2.6828"/><path d="m-0.77951 705.89v-142.2" stroke-width="2.6828"/><path d="m35.164 705.78v-142.09" stroke-width="2.6828"/><path d="m178.41 635.28h-257.32" stroke-width="2.6828"/></g><ellipse transform="scale(1,-1)" cx="412.03" cy="-626.36" rx="55.612" ry="50.664" stroke-linecap="square" stroke-linejoin="round" stroke-opacity=".27451" stroke-width="2.0153"/><g stroke-opacity=".17255"><path d="m64.326 705.85v-142.15" stroke-width="2.6828"/><path d="m178.43 658.48h-257.32" stroke-width="2.6828"/><path d="m178.37 682.72h-257.32" stroke-width="2.6828"/></g><ellipse transform="scale(1,-1)" cx="340.87" cy="-626.59" rx="55.612" ry="50.664" stroke-linecap="square" stroke-linejoin="round" stroke-opacity=".27451" stroke-width="2.0153"/></g><g fill="#000000" font-family="Verdana" font-size="13.243px" letter-spacing="0px" stroke="none" stroke-width="3.7777" word-spacing="0px"><text transform="scale(1 -1)" x="75.898346" y="-689.55743" style="line-height:1.25" xml:space="preserve"><tspan x="75.898346" y="-689.55743" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text><g fill-rule="evenodd" stroke-miterlimit="10.433">
<text transform="scale(1 -1)" x="134.72403" y="-689.5968" style="line-height:1.25" xml:space="preserve"><tspan x="134.72403" y="-689.5968" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="134.84184" y="-665.44312" style="line-height:1.25" xml:space="preserve"><tspan x="134.84184" y="-665.44312" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="75.812469" y="-665.32526" style="line-height:1.25" xml:space="preserve"><tspan x="75.812469" y="-665.32526" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
</g></g><path d="m178.38 587.28h-257.32" fill="none" stroke="#005bdc" stroke-miterlimit="4" stroke-opacity=".17255" stroke-width="2.6828"/><path d="m178.4 610.04h-257.32" fill="none" stroke="#005bdc" stroke-miterlimit="4" stroke-opacity=".17255" stroke-width="2.6828"/><g fill="#000000" fill-rule="evenodd" font-family="Verdana" font-size="13.243px" letter-spacing="0px" stroke="none" stroke-miterlimit="10.433" stroke-width="3.7777" word-spacing="0px"><text transform="scale(1 -1)" x="-74.823822" y="-593.65497" style="line-height:1.25" xml:space="preserve"><tspan x="-74.823822" y="-593.65497" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="-74.490562" y="-570.32721" style="line-height:1.25" xml:space="preserve"><tspan x="-74.490562" y="-570.32721" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="-35.33321" y="-593.65497" style="line-height:1.25" xml:space="preserve"><tspan x="-35.33321" y="-593.65497" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="-35.33321" y="-570.49384" style="line-height:1.25" xml:space="preserve"><tspan x="-35.33321" y="-570.49384" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="1.9912448" y="-593.32172" style="line-height:1.25" xml:space="preserve"><tspan x="1.9912448" y="-593.32172" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
<text transform="scale(1 -1)" x="1.8246171" y="-570.49384" style="line-height:1.25" xml:space="preserve"><tspan x="1.8246171" y="-570.49384" fill="#005bff" fill-opacity=".44444" font-family="'Courier New'" font-size="13.243px" font-weight="bold" stroke-width="3.7777" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal">null</tspan></text>
</g><path transform="matrix(.66651 0 0 -.66651 -81.52 708.36)" d="m632.11 48.354c-33.061-0.27468-66.457 20.952-76.803 52.975-8.3153 24.445-1.0074 52.909 17.402 70.879 17.961 18.473 44.701 27.481 70.209 24.254 14.245-1.0483 27.978-6.3289 39.854-14.115 3.145-2.1717-3.1044-4.2459-4.3438-6.3848-11.711-12.216-20.503-28.039-22.27-45.012-0.86621-12.336 0.11843-24.923 5.4375-36.242 4.7423-12.011 13.966-21.278 22.637-30.504-10.253-7.8198-23.264-12.591-36.092-14.838-5.3052-0.76631-10.674-1.038-16.031-1.0117zm110.96 0.42969c-1.2031-0.01769-2.4052-0.01167-3.6074 0.01953-15.341-0.13432-30.507 4.0174-43.709 11.814-1.8745 0.94966-6.2845 2.8191-3.8008 5.4492 10.784 10.215 20.049 22.583 23.846 37.158 6.8442 23.775 0.31006 50.738-16.756 68.678-2.8309 3.5281-7.0452 6.3569-9.3965 9.9297 17.122 11.172 37.799 17.501 58.322 15.221 31.35-1.852 61.71-22.997 71.232-53.459 3.9032-10.461 2.805-21.919 2.0977-32.826-2.9255-17.802-14.012-33.558-28.035-44.561-14.131-11.389-32.147-17.159-50.193-17.424zm-56.201 17.545c-15.262 12.736-26.581 30.975-28.055 51.088-2.2108 23.709 9.4861 47.57 28.104 61.902 6.2531-4.5972 11.477-10.765 16.166-16.961 7.1167-11.311 12.998-24.258 12.023-37.941 0.44587-9.1105-0.39515-18.349-4.2949-26.717-5.0967-12.155-12.877-24.105-23.943-31.371z" fill="#005bff" fill-opacity=".11765" stroke="none"/></g></g>
 </g>
</svg>

In [ ]:
# outer join = union
merge = pd.merge(df6, df7, how='outer')

draw_tbl([[{'text':"outer join = union", 'colspan':3}],
          ['df6', "df7", "pd.merge(df6, df7, how='outer')"],
          [pandas_to_html(df6), pandas_to_html(df7), pandas_to_html(merge)]])

##Overlapping Column Names: The suffixes Keyword

In [ ]:
# note 'rank' is conflicting!
df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]})
df9 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]})
merge = pd.merge(df8, df9, on="name")
merge_suff = pd.merge(df8, df9, on="name", suffixes=["_L", "_R"])

draw_tbl([[{'text':"note 'rank' is conflicting!", 'colspan':4}],
          ['df1a', "df3", "pd.merge(df8, df9, on='name')", "pd.merge(df8, df9, on='name', suffixes=['_L', '_R']) # control suffixes 'by hands'"],
          [pandas_to_html(df8), pandas_to_html(df9), pandas_to_html(merge), pandas_to_html(merge_suff)]])

#Aggregation and Grouping

##Simple Aggregation in Pandas

| Aggregation              | Description                     |
|--------------------------|---------------------------------|
| ``count()``              | Total number of items           |
| ``first()``, ``last()``  | First and last item             |
| ``mean()``, ``median()`` | Mean and median                 |
| ``min()``, ``max()``     | Minimum and maximum             |
| ``std()``, ``var()``     | Standard deviation and variance |
| ``mad()``                | Mean absolute deviation         |
| ``prod()``               | Product of all items            |
| ``sum()``                | Sum of all items                |

In [ ]:
import numpy as np

rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))

draw_tbl([['ser', "ser.sum()", "ser.mean()"],
          [pandas_to_html(ser), ser.sum(), ser.mean()]])

In [ ]:
df = pd.DataFrame({'A': rng.rand(5), 'B': rng.rand(5)})

draw_tbl([['df', "df.mean()", "df.mean(axis='columns')"],
          [pandas_to_html(df), pandas_to_html(df.mean()), pandas_to_html(df.mean(axis='columns'))]])

In [ ]:
import seaborn as sns

planets = sns.load_dataset('planets')
display_pandas(planets, ordering=True)

# few common aggregates at once
summary = planets.dropna().describe()
print('SUMMARY:')
display_pandas(summary)

SUMMARY:

##GroupBy: Split, Apply, Combine

![suport points](https://raw.githubusercontent.com/fbeilstein/machine_learning/master/lecture_04_pandas/split_apply_combine.png)

* The split step involves breaking up and grouping a DataFrame depending on the
value of the specified key.
* The apply step involves computing some function, usually an aggregate, transfor
mation, or filtering, within the individual groups.
* The combine step merges the results of these operations into an output array.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data': range(6)}, columns=['key', 'data'])

split = df.groupby('key')
apply_combine1 = split.sum()
apply_combine2 = split.std()


draw_tbl([['df', "df.groupby('key').sum()", "df.groupby('key').std()"],
          [pandas_to_html(df), pandas_to_html(apply_combine1), pandas_to_html(apply_combine2)]])

In [ ]:
# no actual computation occurs
# this is only intermittent object for lazy evaluation
df.groupby('key')

In [ ]:
planets.groupby('method')

In [ ]:
planets.groupby('method')['orbital_period']

In [ ]:
import seaborn as sns

planets = sns.load_dataset('planets')

split = planets.groupby('method')
apply_combine_1 = split['orbital_period']
apply_combine_2 = apply_combine_1.median()

display_pandas(apply_combine_2)

In [ ]:
# Iteration over groups
for (method, group) in planets.groupby('method'):
  print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [ ]:
# Dispatch methods (method not explicitly implemented by the GroupBy object will be passed through and called on the groups)
planets.groupby('method')['year'].describe().unstack()

split = planets.groupby('method')
apply_combine_1 = split['year']
apply_combine_2 = apply_combine_1.describe()
apply_combine_3 = apply_combine_2.unstack()

display_pandas(apply_combine_3)

In [ ]:
import numpy as np
import pandas as pd

rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
columns = ['key', 'data1', 'data2'])

# Aggregation
split = df.groupby('key')
aggregate = split.aggregate(['min', np.median, max])
aggregate2 = split.aggregate({'data1': 'min', 'data2': 'max'})

draw_tbl([['df', "<div style='width:500px;'>df.groupby('key').aggregate(['min', np.median, max])</div>", "df.groupby('key').aggregate({'data1': 'min', 'data2': 'max'})"],
          [pandas_to_html(df), pandas_to_html(aggregate), pandas_to_html(aggregate2)]])

In [ ]:
# Filtering
def filter_func(x):
  return x['data2'].std() > 4

filtered = df.groupby('key').filter(filter_func)

draw_tbl([['df', "df.groupby('key').filter(filter_func) # filtering"],
          [pandas_to_html(df), pandas_to_html(filtered)]])

In [ ]:
# Transformation
transformed = df.groupby('key').transform(lambda x: x - x.mean())

draw_tbl([['df', "df.groupby('key').transform(lambda x: x - x.mean()) # transformation"],
          [pandas_to_html(df), pandas_to_html(transformed)]])

In [ ]:
# The apply() method
def norm_by_data2(x):
  # x is a DataFrame of group values
  x['data1'] /= x['data2'].sum()
  return x

transformed = df.groupby('key').apply(norm_by_data2)

draw_tbl([['df', "df.groupby('key').apply(norm_by_data2) # transformation"],
          [pandas_to_html(df), pandas_to_html(transformed)]])

In [ ]:
# Specifying the split key as A list, array, series, or index providing the grouping keys
L = [0, 1, 0, 1, 2, 0]

process = df.groupby(L).sum()

for_view = pd.Series(L)

draw_tbl([['df', "L # shown as series", "df.groupby(L).sum()"],
          [pandas_to_html(df), pandas_to_html(for_view), pandas_to_html(process)]])

In [ ]:
# Specifying the split key as A dictionary or series mapping index to group
df2 = df.set_index('key')
mapping = {'A': 'vowel', 
           'B': 'consonant', 
           'C': 'consonant'}

split = df2.groupby(mapping)
process = split.sum()

draw_tbl([['df2', "df2.groupby(mapping).sum()"],
          [pandas_to_html(df2), pandas_to_html(process)]])

In [ ]:
# Specifying the split key as Any Python function
split = df2.groupby(str.lower)
process = split.mean()

draw_tbl([['df2', "df2.groupby(mapping).sum()"],
          [pandas_to_html(df2), pandas_to_html(process)]])

In [ ]:
# Specifying the split key as A list of valid keys

split = df2.groupby([str.lower, mapping])
process = split.mean()

draw_tbl([['df2', "df2.groupby([str.lower, mapping]).sum()"],
          [pandas_to_html(df2), pandas_to_html(process)]])

#Pivot Tables

A pivot table is a table of statistics that summarizes the data of a more extensive table (such as from a database, spreadsheet, or business intelligence program). This summary might include sums, averages, or other statistics, which the pivot table groups together in a meaningful way.

Pivot tables are a technique in data processing. They arrange and rearrange (or "pivot") statistics in order to draw attention to useful information.

You may think of pivot tables as essentially a multidimensional version of GroupBy aggregation. That is, you split-apply-combine, but both the split and the combine happen across not a one-dimensional index, but across a two-dimensional grid.

##Pivot Table Syntax

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

draw_tbl([['titanic dataset'], [pandas_to_html(titanic)]])

In [ ]:
titanic_pivot1 = titanic.pivot_table('survived', index='sex', columns='class')
age = pd.cut(titanic['age'], [0, 18, 80]) # bin the age using the pd.cut function
titanic_pivot2 = titanic.pivot_table('survived', ['sex', age], 'class')
# compute total, add name for total
titanic_pivot5 = titanic.pivot_table('survived', index='sex', columns='class', margins=True, margins_name='people')

draw_tbl([["titanic.pivot_table('survived', index='sex', columns='class')", 
           "age = pd.cut(titanic['age'], [0, 18, 80])<br>titanic.pivot_table('survived', ['sex', age], 'class')", 
           "titanic.pivot_table('survived', index='sex', columns='class', margins=True, margins_name='people')"],
          [pandas_to_html(titanic_pivot1), pandas_to_html(titanic_pivot2), pandas_to_html(titanic_pivot5)]])

In [ ]:
fare = pd.qcut(titanic['fare'], 2)
titanic_pivot3 = titanic.pivot_table('survived', ['sex', age], [fare, 'class'])
# find mean fare but sum the sirvivals
titanic_pivot4 = titanic.pivot_table(index='sex', columns='class', aggfunc={'survived':sum, 'fare':'mean'})


draw_tbl([["fare = pd.qcut(titanic['fare'], 2)')<br>titanic.pivot_table('survived', ['sex', age], [fare, 'class'])", 
           "titanic.pivot_table(index='sex', columns='class', aggfunc={'survived':sum, 'fare':'mean'})"],
          [pandas_to_html(titanic_pivot3), pandas_to_html(titanic_pivot4)]])

#Vectorized String Operations

Nearly all Python's built-in string methods are mirrored by a Pandas vectorized string method. Here is a list of Pandas ``str`` methods that mirror Python string methods:

|             |                  |                  |                  |
|-------------|------------------|------------------|------------------|
|``len()``    | ``lower()``      | ``translate()``  | ``islower()``    | 
|``ljust()``  | ``upper()``      | ``startswith()`` | ``isupper()``    | 
|``rjust()``  | ``find()``       | ``endswith()``   | ``isnumeric()``  | 
|``center()`` | ``rfind()``      | ``isalnum()``    | ``isdecimal()``  | 
|``zfill()``  | ``index()``      | ``isalpha()``    | ``split()``      | 
|``strip()``  | ``rindex()``     | ``isdigit()``    | ``rsplit()``     | 
|``rstrip()`` | ``capitalize()`` | ``isspace()``    | ``partition()``  | 
|``lstrip()`` |  ``swapcase()``  |  ``istitle()``   | ``rpartition()`` |

In addition, there are several methods that accept regular expressions to examine the content of each string element, and follow some of the API conventions of Python's built-in ``re`` module:

| Method | Description |
|--------|-------------|
| ``match()`` | Call ``re.match()`` on each element, returning a boolean. |
| ``extract()`` | Call ``re.match()`` on each element, returning matched groups as strings.|
| ``findall()`` | Call ``re.findall()`` on each element |
| ``replace()`` | Replace occurrences of pattern with some other string|
| ``contains()`` | Call ``re.search()`` on each element, returning a boolean |
| ``count()`` | Count occurrences of pattern|
| ``split()``   | Equivalent to ``str.split()``, but accepts regexps |
| ``rsplit()`` | Equivalent to ``str.rsplit()``, but accepts regexps |

Finally, there are some miscellaneous methods that enable other convenient operations:

| Method | Description |
|--------|-------------|
| ``get()`` | Index each element |
| ``slice()`` | Slice each element|
| ``slice_replace()`` | Replace slice in each element with passed value|
| ``cat()``      | Concatenate strings|
| ``repeat()`` | Repeat values |
| ``normalize()`` | Return Unicode form of string |
| ``pad()`` | Add whitespace to left, right, or both sides of strings|
| ``wrap()`` | Split long strings into lines with length less than a given width|
| ``join()`` | Join strings in each element of the Series with passed separator|
| ``get_dummies()`` | extract dummy variables as a dataframe |

##Pandas String Methods

In [ ]:
# Pandas contains vectorized string operations and correctly handles missing data
import pandas as pd

data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
names = pd.Series(data)

draw_tbl([["names",
           "names.str.capitalize()"],
          [pandas_to_html(names), 
           pandas_to_html(names.str.capitalize())]])

In [ ]:
import numpy as np
import pandas as pd

monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

draw_tbl([["monte",
           "monte.str.lower()",
           "monte.str.len()",
           "monte.str.startswith('T')",
           "monte.str.split()",
           "monte.str.extract('([A-Za-z]+)')",
           "monte.str.findall(r'^[^AEIOU].*[^aeiou]$')",
           "monte.str[0:3]",
           "monte.str.split().str.get(-1)"],
          [pandas_to_html(monte), 
           pandas_to_html(monte.str.lower()), 
           pandas_to_html(monte.str.len()), 
           pandas_to_html(monte.str.startswith('T')), 
           pandas_to_html(monte.str.split()), 
           pandas_to_html(monte.str.extract('([A-Za-z]+)')),
           pandas_to_html(monte.str.findall(r'^[^AEIOU].*[^aeiou]$')),
           pandas_to_html(monte.str[0:3]),
           pandas_to_html(monte.str.split().str.get(-1))]])

In [ ]:
# indicator variables
# A = "born in America," B = "born in the United Kingdom,"
# C = "likes cheese,"    D = "likes spam"
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

draw_tbl([["full_monte",
           "full_monte['info'].str.get_dummies('|')"],
          [pandas_to_html(full_monte), 
           pandas_to_html(full_monte['info'].str.get_dummies('|'))]])

#Working with Time Series

|Code    | Meaning     | Time span (relative) | Time span (absolute)   |
|--------|-------------|----------------------|------------------------|
| ``Y``  | Year	       |  9.2e18 years       | [9.2e18 BC, 9.2e18 AD] |
| ``M``  | Month       |  7.6e17 years       | [7.6e17 BC, 7.6e17 AD] |
| ``W``  | Week	       |  1.7e17 years       | [1.7e17 BC, 1.7e17 AD] |
| ``D``  | Day         |  2.5e16 years       | [2.5e16 BC, 2.5e16 AD] |
| ``h``  | Hour        |  1.0e15 years       | [1.0e15 BC, 1.0e15 AD] |
| ``m``  | Minute      |  1.7e13 years       | [1.7e13 BC, 1.7e13 AD] |
| ``s``  | Second      |  2.9e12 years       | [ 2.9e9 BC, 2.9e9 AD]  |
| ``ms`` | Millisecond |  2.9e9 years        | [ 2.9e6 BC, 2.9e6 AD]  |
| ``us`` | Microsecond |  2.9e6 years        | [290301 BC, 294241 AD] |
| ``ns`` | Nanosecond  |  292 years          | [ 1678 AD, 2262 AD]    |
| ``ps`` | Picosecond  |  106 days           | [ 1969 AD, 1970 AD]    |
| ``fs`` | Femtosecond |  2.6 hours          | [ 1969 AD, 1970 AD]    |
| ``as`` | Attosecond  |  9.2 seconds        | [ 1969 AD, 1970 AD]    |

**Frequencies and offsets**

| Code   | Description         | Code   | Description          |
|--------|---------------------|--------|----------------------|
| ``D``  | Calendar day        | ``B``  | Business day         |
| ``W``  | Weekly              |        |                      |
| ``M``  | Month end           | ``BM`` | Business month end   |
| ``Q``  | Quarter end         | ``BQ`` | Business quarter end |
| ``A``  | Year end            | ``BA`` | Business year end    |
| ``H``  | Hours               | ``BH`` | Business hours       |
| ``T``  | Minutes             |        |                      |
| ``S``  | Seconds             |        |                      |
| ``L``  | Milliseonds         |        |                      |
| ``U``  | Microseconds        |        |                      |
| ``N``  | nanoseconds         |        |                      |


by adding suffix ``S`` we mark any of these as a beginning

| Code    | Description            || Code    | Description            |
|---------|------------------------||---------|------------------------|
| ``MS``  | Month start            ||``BMS``  | Business month start   |
| ``QS``  | Quarter start          ||``BQS``  | Business quarter start |
| ``AS``  | Year start             ||``BAS``  | Business year start    |

##Dates and Times in Python

In [ ]:
from datetime import datetime
datetime(year=2015, month=7, day=4)

datetime.datetime(2015, 7, 4, 0, 0)

In [ ]:
from dateutil import parser
# parses many formats
date = parser.parse("4th of July, 2015")
date

datetime.datetime(2015, 7, 4, 0, 0)

In [ ]:
date.strftime('%A')

'Saturday'

In [ ]:
import numpy as np
# numpy datetime, input format fixed!
date = np.array('2015-07-04', dtype=np.datetime64)
date

array('2015-07-04', dtype='datetime64[D]')

In [ ]:
date + np.arange(12)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
      dtype='datetime64[D]')

In [ ]:
# day-based
np.datetime64('2015-07-04')

numpy.datetime64('2015-07-04')

In [ ]:
# minute-based
np.datetime64('2015-07-04 12:00')

numpy.datetime64('2015-07-04T12:00')

In [ ]:
# nanosecond-based
np.datetime64('2015-07-04 12:59:59.50', 'ns')

numpy.datetime64('2015-07-04T12:59:59.500000000')

In [ ]:
import pandas as pd
# pandas can parse
date = pd.to_datetime("4th of July, 2015")
date

Timestamp('2015-07-04 00:00:00')

In [ ]:
date.strftime('%A')

'Saturday'

In [ ]:
# pandas can use numpy-style operations
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
               '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
               '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
              dtype='datetime64[ns]', freq=None)

##Pandas Time Series: Indexing by Time

In [ ]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)

draw_tbl([["data", "data['2014-07-04':'2015-07-04']", "data['2015']"],
          [pandas_to_html(data), 
           pandas_to_html(data['2014-07-04':'2015-07-04']),
           pandas_to_html(data['2015'])]])

##Pandas Time Series Data Structures

In [ ]:
import pandas as pd

dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
'2015-Jul-6', '07-07-2015', '20150708'])
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
dates.to_period('D')

PeriodIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
             '2015-07-08'],
            dtype='period[D]', freq='D')

In [ ]:
dates - dates[0]

TimedeltaIndex(['0 days', '1 days', '3 days', '4 days', '5 days'], dtype='timedelta64[ns]', freq=None)

In [ ]:
# generate ranges
pd.date_range('2015-07-03', '2015-07-10')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('2015-07-03', periods=8)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('2015-07-03', periods=8, freq='H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [ ]:
pd.period_range('2015-07', periods=8, freq='M')

PeriodIndex(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02'],
            dtype='period[M]', freq='M')

In [ ]:
pd.timedelta_range(0, periods=10, freq='H')

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

##Frequencies and Offsets

In [ ]:
pd.timedelta_range(0, periods=9, freq="2H30T")

TimedeltaIndex(['00:00:00', '02:30:00', '05:00:00', '07:30:00', '10:00:00',
                '12:30:00', '15:00:00', '17:30:00', '20:00:00'],
               dtype='timedelta64[ns]', freq='150T')

In [ ]:
from pandas.tseries.offsets import BDay
pd.date_range('2015-07-01', periods=5, freq=BDay())

DatetimeIndex(['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-06',
               '2015-07-07'],
              dtype='datetime64[ns]', freq='B')

#High-Performance Pandas: eval() and query()

##Motivating query() and eval(): Compound Expressions

In [ ]:
import numpy as np
rng = np.random.RandomState(42)
x = rng.rand(10**6)
y = rng.rand(10**6)
%timeit x + y

100 loops, best of 3: 2.71 ms per loop

In [ ]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))

1 loop, best of 3: 380 ms per loop

In [ ]:
# every intermediate step is explicitly allocated in memory!
%timeit (x > 0.5) & (y < 0.5)

100 loops, best of 3: 2.19 ms per loop

In [ ]:
tmp1 = (x > 0.5)
tmp2 = (y < 0.5)

%timeit tmp1 & tmp2

1000 loops, best of 3: 204 s per loop

In [ ]:
mask = (x > 0.5) & (y < 0.5)

import numexpr
mask_numexpr = numexpr.evaluate('(x > 0.5) & (y < 0.5)')
np.allclose(mask, mask_numexpr)

True

In [ ]:
%timeit numexpr.evaluate('(x > 0.5) & (y < 0.5)')

100 loops, best of 3: 5.99 ms per loop

##pandas.eval() for Efficient Operations

In [ ]:
import pandas as pd
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols)) for i in range(4))

In [ ]:
%timeit df1 + df2 + df3 + df4

1 loop, best of 3: 82 ms per loop

In [ ]:
%timeit pd.eval('df1 + df2 + df3 + df4')

10 loops, best of 3: 50 ms per loop

In [ ]:
np.allclose(df1 + df2 + df3 + df4, pd.eval('df1 + df2 + df3 + df4'))

True

In [ ]:
# Arithmetic operators
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3))) for i in range(5))
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
np.allclose(result1, result2)

True

In [ ]:
# Comparison operators
result1 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 = pd.eval('df1 < df2 <= df3 != df4')
np.allclose(result1, result2)

True

In [ ]:
# Bitwise operators
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')
np.allclose(result1, result2)

True

In [ ]:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')
np.allclose(result1, result3)

True

In [ ]:
# Object attributes and indices
result1 = df2.T[0] + df3.iloc[1]
result2 = pd.eval('df2.T[0] + df3.iloc[1]')
np.allclose(result1, result2)

True

##DataFrame.eval() for Column-Wise Operations

In [ ]:
import pandas as pd
import numpy as np

rng = np.random.RandomState(0)
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])
df.head()

          A         B         C
0  0.548814  0.715189  0.602763
1  0.544883  0.423655  0.645894
2  0.437587  0.891773  0.963663
3  0.383442  0.791725  0.528895
4  0.568045  0.925597  0.071036

In [ ]:
result1 = (df['A'] + df['B']) / (df['C'] - 1)
result2 = pd.eval("(df.A + df.B) / (df.C - 1)")
np.allclose(result1, result2)

True

In [ ]:
result3 = df.eval('(A + B) / (C - 1)')
np.allclose(result1, result3)

True

In [ ]:
df.head()

          A         B         C
0  0.548814  0.715189  0.602763
1  0.544883  0.423655  0.645894
2  0.437587  0.891773  0.963663
3  0.383442  0.791725  0.528895
4  0.568045  0.925597  0.071036

In [ ]:
# new column added
df.eval('D = (A + B) / C', inplace=True)
df.head()

          A         B         C          D
0  0.548814  0.715189  0.602763   2.097013
1  0.544883  0.423655  0.645894   1.499531
2  0.437587  0.891773  0.963663   1.379487
3  0.383442  0.791725  0.528895   2.221928
4  0.568045  0.925597  0.071036  21.026521

In [ ]:
# column D modified
df.eval('D = (A - B) / C', inplace=True)
df.head()

          A         B         C         D
0  0.548814  0.715189  0.602763 -0.276022
1  0.544883  0.423655  0.645894  0.187691
2  0.437587  0.891773  0.963663 -0.471312
3  0.383442  0.791725  0.528895 -0.771956
4  0.568045  0.925597  0.071036 -5.033388

In [ ]:
# work with local Python variables
column_mean = df.mean(1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1, result2)
# NOTE: @ works only for DataFrame.eval(), not pandas.eval() !

True

##DataFrame.query() Method

In [ ]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

True

In [ ]:
# NOTE: cannot be expressed through DataFrame.eval()
#       but DataFrame.query() saves the day
result2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)

True

In [ ]:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result2)

True

##Performance: When to Use These Functions

In [ ]:
# LARGE DataFrames - use eval()
# small DataFrames - use traditional syntax
# LARGE or small in terms of L1/L2 cache size and size of tmp objects
# check size as
df.values.nbytes

32000